.assets-add-more-row {
  background-color: #EEE;
  height: 54px;
  width: 100%;
  display: flex;
  align-items: center;
}

.assets-plus-icon {
  margin-left: 35px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.assets {
  width: 100%;
  overflow-y: hidden;
}

.assets.collapsed {
  height: 52px;
}

.assets .owner {
  width: 380px;
  height: 52px;
  display: flex;
  align-items: center;
  padding-left: 23px;
  font-size: 20px;
  line-height: 20px;
  color: #ffffff;
  background-color: #171753;
  font-weight: 600;
  position: relative;
  justify-content: space-between;
  padding-right: 23px;
}

.assets .owner .collapse-icon {
  width: 20px;
  height: 20px;
  color: white;
  background-color: white;
  display: flex;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  padding: 3px;
}
