.modal.export-file-modal .modal-title {
  font-weight: 600;
}

.modal.export-file-modal .modal-description {
  padding: 11px 16px 19px;
}

.modal.export-file-modal .warning {
  display: flex;
  align-items: center;
  gap: 9px;
  padding: 0 16px;
}

.modal.export-file-modal .warning-icon {
  width: 48px;
  height: 24px;
}

.modal.export-file-modal .warning-text {
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
}

.modal.export-file-modal .enter-password {
  padding: 27px 37px;
}

.modal.export-file-modal .button-line {
  padding: 0 37px 20px;
}
