.transfer-nft.wrapper .transfer-form {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-style: normal;
  letter-spacing: 0.03em;
}

.transfer-nft.wrapper .transfer-form .label {
  font-weight: 600;
  letter-spacing: 0.001em;
}

.transfer-nft.wrapper .transfer-form input {
  box-sizing: border-box;

  padding: 9px 9px;
  height: 36px;
  width: 100%;
  margin: 8px 0px;

  color: #171753;
  font-size: 16px;
  line-height: 20px;

  background-color: rgba(214, 214, 214, 0.5);
  border-radius: 4px 4px 0px 0px;
  border-bottom: solid 2px #5d5d82;
}

.transfer-nft.wrapper .transfer-form .receiver-address {
  width: 100%;
  margin: 10px 0px;
}

.transfer-nft.wrapper .transfer-form .warning {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 10px;
  font-weight: 400;
  color: #ff4141;
  letter-spacing: 0.001em;
}

.transfer-nft.wrapper .transfer-form .warning-icon {
  width: 15px;
}

.transfer-nft.wrapper .transfer-form .warning-text {
  margin-left: 8px;
}

.transfer-nft.wrapper .transfer-form .number-to-transfer {
  width: 100%;
  margin: 10px 0px;
  position: relative;
}

.transfer-nft.wrapper .transfer-form .number-to-transfer input {
  padding: 0 9px;
  cursor: not-allowed;
}

.transfer-nft.wrapper .transfer-form .number-to-transfer .total-available {
  right: 0px;
  top: 3px;
  position: absolute;

  font-size: 12px;
  letter-spacing: 0.03em;
  color: #237b75;
}

.transfer-nft.wrapper .transfer-form .number-to-transfer .description {
  font-size: 10px;
  letter-spacing: 0.001em;
}
