.address-book-modal-wrapper {
  box-sizing: border-box;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;

  z-index: 20;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(23, 23, 83, 0.4);
}

.ab-confirm-delete-contact-modal {
  box-sizing: border-box;
  width: 475px;
  height: 240px;
  background: #55557f;

  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 11px 11px 34px 11px;
}

.ab-confirm-delete-contact-modal .ab-close-icon {
  align-self: flex-end;
  width: 25px;
  height: 25px;
  flex-grow: 0;
}

.ab-confirm-delete-contact-modal .ab-confirm-delete-message {
  flex-grow: 2;
  width: 305px;
  height: 60px;

  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.02em;
  text-align: center;
}

.ab-confirm-delete-contact-modal .ab-confirm-delete-message span {
  color: #9be7c4;
}

.ab-confirm-delete-contact-modal .ab-confirm-delete-buttons {
  width: 400px;
  height: 41px;
  display: flex;
  justify-content: space-between;
}
