.custom-button {
  width: 206px;
  height: 40px;
  background: #d6d6d6;
  border: 1.5px solid #6c6c89;
  box-sizing: border-box;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
  border-radius: 3px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
}

.custom-button.danger {
  background: #171753;
  border: 1.5px solid #db1b1b;
  box-sizing: border-box;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
  border-radius: 3px;
  color: #ff4141;
}

.custom-button:disabled {
  color: #5b5a5a;
}
