.transfer-nft.wrapper .transfer-success {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-style: normal;
  letter-spacing: 0.03em;

  height: 100%;
  padding-top: 16px;
}

.transfer-nft.wrapper .transfer-success .green-tick {
  width: 49px;
  height: 49px;
}

.transfer-nft.wrapper .transfer-success .label {
  margin-top: 16px;
  font-size: 18px;
  font-weight: 600;
}
.transfer-nft.wrapper .transfer-success .asset-name {
  color: #5ed9d1;
  font-weight: 600;
}

.transfer-nft.wrapper .transfer-success .receiver-field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 9px 0px 26px 0px;
}

.transfer-nft.wrapper .transfer-success .receiver-address {
  font-size: 18px;
  width: 90%;
  color: #5ed9d1;
}

.transfer-nft.wrapper .transfer-success .edit-icon {
  width: 17px;
  height: 17px;
  cursor: pointer;
}

.transfer-nft.wrapper .transfer-success .warning {
  display: flex;
  flex-direction: row;
}

.transfer-nft.wrapper .transfer-success .warning-icon {
  width: 32px;
  height: 20px;
}

.transfer-nft.wrapper .transfer-success .warning-text {
  margin-left: 8px;
}
