.lock-screen-header {
  background: #ffffff;
  height: 112px;
  display: flex;
  justify-content: center;
}

.lock-screen-header .koi-icon {
  width: 72px;
  height: 72px;
}

.lock-screen-header .koi-title {
  color: #171753;
  font-weight: 600;
  font-size: 21px;
  line-height: 32px;
  margin-left: 29px;
}
