.plus-button {
    background: #F5F5F5;
    border-radius: 50%;
    border: 0px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
    display: inline-block;
    height: 24px;
    margin-left: 35px;
    padding: 0;
    text-align: center;
    width: 24px;
}
