.accounts-wrapper {
  padding-bottom: 8px;
  background-color: #ffffff;
}

.home-plus-button-wrapper {
  background: #eeeeee;
  height: 48px;
  display: flex;
  align-items: center;
}

.home-plus-button-wrapper.white {
  background: #ffffff;
}

.home-plus-button-wrapper .button {
  width: 24px;
  height: 24px;
  margin-left: 35px;
  cursor: pointer;
}

.home-gallery-button-wrapper {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

.home-gallery-button-wrapper .gallery-button {
  width: 160px;
  height: 33px;

  background-color: #ffffff;
  border-radius: 3px;
  border: 1.5px solid #171753;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
  box-sizing: border-box;
  color: #171753;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.01em;
}
