.toast {
  position: fixed;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: #FFEE81;
  color: #353570;
  opacity: 0;
  transition: top 0.3s ease-in, opacity 0.3s ease-in;
  z-index: 20;
  width: 426px;
  height: 36px;
  text-align: center;
}

.toast-slide-in {
  top: 54px;
}

.toast-show {
  opacity: 1;
}

.toast-connected {
  background-color: #9BE7C4;
}
