.popup {
  width: 426px;
  height: 600px;
  box-sizing: border-box;
  position: relative;
  /* border: 1px solid black; */
}

body {
  display: flex;
  min-height: 70vh;
  align-items: center;
  justify-content: center;
  font-family: 'Catamaran', sans-serif;
  font-weight: 400;
}

.content {
    display: flex;
    background-color: #EEEEEE;
    min-height: 54px;
    align-items: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]{
  -moz-appearance: textfield;
}

.continue-loading {
  position: fixed;
  width: 55px;
  height: 55px;
  top: 93%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.continue-loading img {
  width: 100%;
}
