.popup {
  width: 426px;
  height: 600px;
  box-sizing: border-box;
  position: relative;
  /* border: 1px solid black; */
}

body {
  font-family: 'Catamaran', sans-serif;
  font-weight: 300;
}

.content {
    display: flex;
    background-color: #EEEEEE;
    min-height: 54px;
    align-items: center;
}
