.popup {
  width: 426px;
  height: 600px;
  box-sizing: border-box;
  position: relative;
  /* border: 1px solid black; */
}

.popup .reconnect {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 600px;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  gap: 30px;
  color: #171753
}

.popup .reconnect button {
  width: 236px;
  height: 40px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  border: 1.5px solid #237B75;
  background-color: #ffffff;
  color: #237B75;
  border-radius: 3px;
  cursor: pointer;
}

.popup .reconnect button:hover{
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16), 0 8px 12px 0 rgba(0, 0, 0, 0.3);
}

.popup .reconnect .reconnect-logo {
  height: 120px;
  width: 120px;
}

body {
  display: flex;
  min-height: 70vh;
  align-items: center;
  justify-content: center;
  font-family: 'Catamaran', sans-serif;
  /* font-family: 'Sora', sans-serif; */
  font-weight: 400;
  overflow-x: hidden;
}

body #root {
  overflow-x: hidden;
  overflow-y: overlay;
  height: 600px;
}

#root::-webkit-scrollbar {
  width: 3px;
}

#root::-webkit-scrollbar-track {
  background: #f8f8f8;
}

#root::-webkit-scrollbar-thumb {
  background: #888;
}

.content {
    display: flex;
    background-color: #EEEEEE;
    min-height: 54px;
    align-items: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]{
  -moz-appearance: textfield;
}

.continue-loading {
  position: fixed;
  width: 55px;
  height: 55px;
  top: 93%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.continue-loading img {
  width: 100%;
}
