
.export-nft.title.description {
  font-size: 16px;
  font-weight: 400;
}

.export-nft .logo-wrapper {
  align-items: center;
  border-radius: 3px;
  border: 2px solid #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  height: 84px;
  justify-content: center;
  margin-top: 21px;
  user-select: none;
  width: 212px;
}

.export-nft .logo-wrapper .text {
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
  margin-left: 16px;
  display: flex;
  align-items: center;
}

.export-nft .logo-wrapper .logo {
  width: 56px;
  height: 56px;
}
