.account-import-key {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 480px;
  justify-content: space-around;
  width: 100%;
}

.account-import-key .import-card {
  height: 460px;
}

.account-import-key .title {
  display: flex;
  justify-content: center;
  margin: 15px 0;
}

.account-import-key .title .title-icon {
  height: 24px;
  width: 24px;
}

.account-import-key .title .title-text {
  font-size: 18px;
  letter-spacing: 0.03em;
  line-height: 20px;
  margin-left: 20px;
  text-align: center;
  white-space: nowrap;
}
