.connected-site-row {
  display: flex;
  align-items: center;
  min-height: 48px;
  width: 100%;
}

.connected-site-name {
  margin-left: 34px;
  flex-grow: 1;
  display: block;
  word-break: break-word;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.03em;
  color: #171753;
}

.delete-button {
  cursor: pointer;
  width: 20px;
  height: 20px;
  padding: 0;
  margin-right: 35px;
  margin-left: 10px;
  border: none;
  display: flex;
  align-items: center;
  background: transparent;
}

.delete-icon {
  width: 20px;
  height: 20px;
}
