.create-password {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 280px;
}

.create-password .fields {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 132px;
}


/* TERM SERVICE */

.create-password .term-service {
    display: flex;
    align-items: center;
    width: 330px;
    height: 18px;
}

.create-password .term-service label {
    margin-left: 15px;
    font-size: 15px;
}

.create-password .term-service a {
    color: #237B75;
}

/* BUTTON */
.create-password .button {
    height: 32px;
    width: 137px;
}

.create-password .button .import-button{
    font-size: 14px;
    font-weight: 600;
}
