.create-collection
  .wrapper
  .content
  .success {
    width: 849px;
    text-align: center;
  }

.create-collection
  .wrapper
  .content
  .success
  .hint {
    margin-top: 7px;
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
    color: #ffffff;
  }

.create-collection
  .wrapper
  .content
  .success
  .share {
    margin: auto;
    margin-top: 17px;
    width: 352px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.create-collection
  .wrapper
  .content
  .success
  .share
  .share-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.create-collection
  .wrapper
  .content
  .success
  .share
  .share-buttons button {
    width: 160px;
    height: 32px;
    color: #171752;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    background-color: #ffffff;
    border: 0px;
    border-radius: 2px;
  }

.create-collection
  .wrapper
  .content
  .success
  .share
  .share-buttons
  .yellow {
    background-color: #FFC78F;
  }
  
.create-collection
  .wrapper
  .content
  .success
  .share
  .share-social {
    margin-top: 17px;
    width: 248px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.create-collection
  .wrapper
  .content
  .success
  .share
  .share-social
  .twitter {
    width: 28px;
    height: 28px;
  }
.create-collection
  .wrapper
  .content
  .success
  .share
  .share-social
  .facebook {
    width: 13px;
    height: 28px;
  }
.create-collection
  .wrapper
  .content
  .success
  .share
  .share-social
  .linkedin {
    width: 25px;
    height: 25px;
  }
.create-collection
  .wrapper
  .content
  .success
  .share
  .share-social
  .email {
    width: 23px;
    height: 15px;
  }

.create-collection
  .wrapper
  .content
  .success
  .nfts {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 849px;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 20px;
    overflow-y: scroll;
  }

.create-collection
  .wrapper
  .content
  .success
  .nfts
  .nft-wrapper {
    width: 118px;
    height: 118px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.create-collection
  .wrapper
  .content
  .success
  .nfts
  .nft-wrapper img {
    max-width: 100%;
    max-height: 100%;
  }
.create-collection
  .wrapper
  .content
  .success
  .nfts
  .nft-wrapper 
  .iframe-wrapper-success {
    position: relative;
    height: 118px;
    width: 118px;
    user-select: none;
  }
.create-collection
  .wrapper
  .content
  .success
  .nfts
  .nft-wrapper 
  .iframe-wrapper-success iframe {
    top: 0;
    width: 118px;
    height: 118px;
  }


.create-collection
  .wrapper
  .content
  .success
  .info {
    width: 100%;
    text-align: center;
    color: #ffffff;
    margin-top: 30px;
  }

.create-collection
  .wrapper
  .content
  .success
  .info
  .name {
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
  }

.create-collection
  .wrapper
  .content
  .success
  .info
  .description {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    height: 88px;
    overflow-y: scroll;
    margin-top: 9px;
    text-align: left;
  }

.create-collection
  .wrapper
  .content
  .success
  .info
  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 39px;
    height: 20px;
    overflow-y: scroll;
    margin-top: 9px;
  }

