.activity-row-container {
  min-height: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: #ffffff;
  border-bottom: 1px solid #237b75;
}

.activity-info {
  padding: 25px 32px 15px 32px;
  display: flex;
  flex-direction: row;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  color: #171753;
  letter-spacing: 0.03em;
}

.activity-info .activity-info-row.left {
  flex-grow: 1;
}

.activity-info .activity-info-row {
  display: flex;
  flex-direction: column;
}

.activity-info-row .title {
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 252px;
}

.activity-info-row .title .subtitle {
  margin-left: 16px;
  font-size: 11px;
  color: #6c6c89;
}

.activity-info-row .activity-status {
  color: #237b75;
  font-size: 11px;
  font-weight: 500;
  line-height: 14px;
  margin-top: 13px;
  white-space: nowrap;
}

.activity-info-row .activity-status.pending {
  transform: matrix(0.99, 0, -0.13, 1, 0, 0);
}

.activity-info-row .activity-status.completed {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border: 1px solid #237b75;
  box-sizing: border-box;
  border-radius: 2px;
  height: 18px;
  width: 68px;
}

.activity-info-row .activity-status.completed > a {
  text-decoration: none;
  line-height: 12px;
  color: #237b75;
}

.activity-info-row .activity-expense {
  text-align: right;
  min-width: 101px;
}

.activity-info-row .activity-expense.usd {
  font-size: 11px;
  color: #6d6da0;
}

.activity-info-row .activity-date {
  margin-top: 3px;
  font-size: 11px;
  line-height: 14px;
  color: #237b75;
  text-align: right;
}
