.activity-row-container {
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: #ffffff;
  border-bottom: 1px solid #237B75
}

.activity-info {
  padding: 25px 32px 15px 32px;
  display: flex;
  flex-direction: row;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #171753;
  letter-spacing: 0.03em;
}

.activity-info .activity-info-row.left {
  flex-grow: 1;
}

.activity-info .activity-info-row {
  display: flex;
  flex-direction: column;
}

.activity-info-row .title {
  display: flex;
  flex-direction: row;
}

.activity-info-row .title .subtitle {
  margin-left: 16px;
  font-size: 12px;
  color: #6C6C89;
}

.activity-info-row .activity-status {
  margin-top: 13px;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #237B75;
}

.activity-info-row .activity-status.pending {
  transform: matrix(0.99, 0, -0.13, 1, 0, 0);
}

.activity-info-row .activity-status.completed{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  border: 1px solid #237B75;
  box-sizing: border-box;
  border-radius: 2px;
  height: 18px;
  width: 68px; 
}

.activity-info-row .activity-status.completed > a{
  text-decoration: none;
  line-height: 12px;
  color: #237B75;   
} 

.activity-info-row .activity-expense {
  text-align: right;
}

.activity-info-row .activity-expense.usd {
  font-size: 12px;
  color: #6D6DA0;
}

.activity-info-row .activity-date {
  margin-top: 3px;
  font-size: 12px;
  line-height: 14px;
  color: #237B75;
}


