/* .settings-page-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 140px);
}

.settings-page {
  color: #ffffff;
  width: 760px;
}

.settings-page .top-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 140px;
}

.settings-page .top-section .settings-icon {
  height: 57px;
  width: 57px;
}

.settings-page .top-section .title {
  font-size: 24px;
  height: 32px;
  line-height: 32px;
  margin-top: 15px;
}

.settings-page .top-section .description {
  font-size: 18px;
  height: 32px;
  line-height: 32px;
  margin-top: 3px;
}

.settings-page .content-section {
  margin-top: 20px;
}

.settings-page .content-section .description {
  font-size: 16px;
  height: 64px;
  line-height: 32px;
}

.settings-page .content-section .specs .spec-item {
  align-items: center;
  display: flex;
  margin-top: 7px;
}

.settings-page .content-section .specs .spec-item .number {
  align-items: center;
  border-radius: 50%;
  border: 1px solid #49ce8b;
  box-sizing: border-box;
  display: flex;
  font-size: 14px;
  height: 23px;
  justify-content: center;
  width: 23px;
}

.settings-page .content-section .specs .spec-item .text {
  font-size: 16px;
  line-height: 32px;
  margin-left: 24px;
}

.settings-page .bottom-section {
  display: flex;
  justify-content: center;
  margin-top: 31px;
}

.settings-page .bottom-section .reward-box {
  border-radius: 2px;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 92px;
  justify-content: space-between;
  padding: 13px 22px 15px 40px;
  width: 578px;
}

.settings-page .bottom-section .reward-box .reward-text {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.01em;
  line-height: 32px;
  width: 438px;
} */

.settings-page-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 140px);
}

.settings-page-wrapper * {
  box-sizing: border-box;
}

.settings-page {
  color: #ffffff;
  display: flex;
  flex-direction: column;
}

.settings-page .top-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.settings-page .top-section .title {
  font-size: 24px;
  line-height: 32px;
  margin-top: 19px;
}

.settings-page .top-section .description {
  font-size: 16px;
  line-height: 28px;
  margin-top: 17px;
  max-width: 759px;
}

.settings-page .top-section .address {
  color: #49ce8b;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  margin-top: 22px;
}

.settings-page .info-section {
  display: flex;
  flex-direction: row;
  gap: 63px;
  margin-top: 20px;
}

.settings-page .info-section .left {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 182px;
}

.settings-page .info-section .left .profile-image {
  background: #281f79;
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

.settings-page .info-section .left .profile-image-input {
  display: none;
}

.settings-page .info-section .left .select-image-button {
  background: #171753;
  border-radius: 2px;
  border: 1.5px solid #ffffff;
  cursor: pointer;
  font-size: 16px;
  height: 32px;
  line-height: 32px;
  margin-top: 20px;
  text-align: center;
  width: 182px;
}

.settings-page .info-section .left .create-nft-text {
  font-size: 12px;
  line-height: 16px;
  margin-top: 4px;
}

.settings-page .info-section .left .create-nft-text .create-nft-link {
  color: #ffffff;
}

.settings-page .info-section .right {
  display: flex;
  flex-direction: column;
}

.settings-page .info-section .right .field {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.settings-page .info-section .right .field .label {
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  width: 135px;
}

.settings-page .info-section .right .field .label .extra {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.settings-page .info-section .right .field .input,
.settings-page .info-section .right .field .text-area {
  border-radius: 3px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  width: 422px;
}

.settings-page .info-section .right .field .input {
  height: 32px;
}

.settings-page .info-section .right .field .text-area {
  height: 84px;
  resize: none;
}

.settings-page .info-section .right .field .checkbox-label {
  color: #ffffff;
  font-size: 14px;
  line-height: 24px;
  transform: matrix(0.99, 0, -0.14, 1, 0, 0);
}

.settings-page .info-section .right .save-button {
  background: #ffffff;
  border-radius: 3px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  color: #171753;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  height: 32px;
  line-height: 32px;
  margin-left: 135px;
  text-align: center;
  width: 189px;
}
