.transfer-wallet-modal-wrapper {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  position: fixed;
  width: 100vw;
  z-index: 5;
}

.transfer-wallet-modal * {
  box-sizing: border-box;
  color: #ffffff;
}

.transfer-wallet-modal {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 16px 34px;
  position: relative;
  width: 690px;
}

.transfer-wallet-modal .unsupported-nft {
  font-size: 18px;
  margin: auto;
  line-height: 32px;
  text-align: center;
}

.transfer-wallet-modal .title {
  font-size: 24px;
  line-height: 32px;
}

.transfer-wallet-modal .description {
  font-size: 14px;
  line-height: 24px;
  max-width: 500px;
  text-align: center;

  margin-top: 5px;
  margin-bottom: 23px;
}

.transfer-wallet-modal .steps {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.transfer-wallet-modal .steps .step {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.transfer-wallet-modal .steps .step .number {
  border-radius: 50%;
  border: 1px solid #49ce8b;
  box-sizing: border-box;
  height: 23px;
  line-height: 21px;
  text-align: center;
  width: 23px;
}

.transfer-wallet-modal .steps .step .text {
  margin-left: 8px;
}

.transfer-wallet-modal .content {
  display: flex;
  gap: 30px;
  height: 320px;
  justify-content: space-around;
  width: 100%;
}

.transfer-wallet-modal .content .left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 7px;
}

.transfer-wallet-modal .content .left .nft-img {
  -webkit-user-drag: none; 
  width: 208px;
  height: 208px;
  object-fit: contain;
  background: #020221;
  border-radius: 4px;
}

.transfer-wallet-modal .content .left .nft-img-iframe {
  overflow: hidden;
  width: 208px;
  height: 208px;
  background: #020221;
  -webkit-user-drag: none;
  box-sizing: border-box;
  padding-top: 35px;

}

.transfer-wallet-modal .nft-img-iframe .iframe-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

.transfer-wallet-modal .iframe-wrapper iframe {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transform: scale(1.25) translateX(10%) translateY(-10%);
}

.transfer-wallet-modal .content .left .name {
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  width: 208px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.transfer-wallet-modal .content .left .views {
  font-size: 18px;
  line-height: 32px;
}

.transfer-wallet-modal .content .left .earned-koi {
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.transfer-wallet-modal .content .right {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.transfer-wallet-modal .content .right .eth-address,
.transfer-wallet-modal .content .right .number-to-transfer {
  margin-top: 36p;
  margin-bottom: 36px;
  width: 100%;
  position: relative;
}

.transfer-wallet-modal .content .right .eth-address .input-logo {
  height: 26px;
  width: 26px;
}

.transfer-wallet-modal .content .right .number-to-transfer .description-one-item {
  font-size: 10px;
  letter-spacing: 0.03em;
  text-align: left;
  margin-top: 6px;
}

.transfer-wallet-modal .content .right .number-to-transfer.confirm {
  display: flex;
  font-size: 16px;
  line-height: 32px;
  align-items: center;
  gap: 7px;
}

.transfer-wallet-modal .content .right .number-to-transfer.confirm span {
  color: #9be7c4;
}

.transfer-wallet-modal .content .right .number-to-transfer.success {
  font-size: 18px;
  line-height: 32px;
}

.transfer-wallet-modal .content .right .eth-address .address-dropdown {
  position: absolute;
  right: 0px;
  top: 18px;
  z-index: 20;
}

.transfer-wallet-modal .content .right .eth-address .address-dropdown .dropdown-button {
  background: #171753;
  border: 1px solid #ffffff;
  cursor: pointer;
  height: 32px;
  width: 32px;
}

.transfer-wallet-modal .content .right .eth-address .address-dropdown .dropdown-button:after {
  border-bottom: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  content: ' ';
  display: inline-block;
  height: 3px;
  padding: 3px;
  position: absolute;
  right: 10px;
  top: 8px;
  transform: rotate(45deg);
  width: 3px;
  width: 3px;
  /* z-index: 21; */
}

.transfer-wallet-modal .content .right .input {
  background: #ffffff;
  border-radius: 2px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  color: #171753;
  font-size: 16px;
  height: 32px;
  line-height: 20px;
  padding: 9px 0px 8px 30px;
  width: 392px;
}

.transfer-wallet-modal .content .right .number-to-transfer input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.transfer-wallet-modal .content .right .number-to-transfer input[type='number'] {
  -moz-appearance: textfield;
}

.transfer-wallet-modal .content .right .input::placeholder {
  font-size: 10px;
  line-height: 24px;
}

.transfer-wallet-modal .content .right .label {
  display: block;
  font-size: 12px;
  font-weight: 600;
  line-height: 15px;
  margin-bottom: 3px;
}

.transfer-wallet-modal .warning {
  display: flex;
  align-items: center;
  gap: 9px;
  padding: 0 16px;
  width: 388px;
  height: 55px;
  border: 2px solid #ff4141;
  box-sizing: border-box;
  border-radius: 3px;
}

.transfer-wallet-modal .warning-icon {
  width: 60px;
  height: 37px;
}

.transfer-wallet-modal .warning-text {
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  color: #ff4141;
}

.transfer-wallet-modal .content .right .total-available {
  color: #ffc78f;
  font-size: 12px;
  line-height: 16px;
  position: absolute;
  right: 0px;
  top: 3px;
}

.transfer-wallet-modal .content .right .description {
  font-size: 10px;
  height: 32px;
  line-height: 16px;
  margin-top: 6px;
}

.transfer-wallet-modal .content .right .estimate-cost {
  display: flex;
  height: 40px;
  justify-content: space-between;
  width: 280px;
}

.transfer-wallet-modal .content .right .estimate-cost .text {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}

.transfer-wallet-modal .content .right .estimate-cost .number {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 600;
  justify-content: space-between;
  line-height: 17px;
}

.transfer-wallet-modal .content .right .estimate-cost .number * {
  color: #49ce8b;
}

.transfer-wallet-modal .content .right .estimate-cost--eth {
  width: 276px;

  display: flex;
  flex-direction: column;

  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;

  position: relative;
}

.transfer-wallet-modal .content .right .estimate-cost--eth .cost {
  display: flex;
  width: 100%;

  justify-content: space-between;
  align-items: center;
}

.transfer-wallet-modal .content .right .estimate-cost--eth .estimate-note {
  font-size: 10px;
  letter-spacing: 0.03em;
  color: #5ed9d1;
}

.transfer-wallet-modal .content .right .estimate-cost--eth .total-cost {
  margin-top: 14px;
  margin-bottom: 18px;

  display: flex;
  width: 100%;

  justify-content: space-between;
  align-items: center;

  font-weight: 600;
}

.transfer-wallet-modal .content .right .estimate-cost--eth .total-number {
  color: #49ce8b;
}

.transfer-wallet-modal .content .right .estimate-cost--eth .question-mark-icon {
  position: absolute;
  left: -20px;
  top: 22px;
}

.transfer-wallet-modal .content .right .transfer-button {
  background: #ffffff;
  border-radius: 2px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
  color: #171753;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  height: 32px;
  line-height: 24px;
  line-height: 32px;
  text-align: center;
  user-select: none;
  width: 276px;
}

.transfer-wallet-modal .content .right .transfer-button:disabled {
  cursor: wait;
  background-color: grey;
}

.transfer-wallet-modal .content .right .transfer-button.success {
  color: #ffffff;
  background: #171753;
  border: 1px solid #ffffff;
}

.transfer-wallet-modal .content .right .transfer-button:active {
  background: #171753;
  border: 1px solid #ffffff;
  color: #ffffff;
  transition: ease 0.25s;
}

.transfer-wallet-modal .input-logo {
  left: 5px;
  position: absolute;
  top: 22px;
}

.transfer-wallet-modal .goback-button {
  cursor: pointer;
  left: 10px;
  position: absolute;
  top: 10px;
  width: 37px;
  height: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Dropdown */
.transfer-wallet-modal .address-dropdown .accounts {
  background: #ffffff;
  border-radius: 0px 0px 3px 3px;
  border: 1px solid #171753;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 4px 0px;
  position: absolute;
  right: 1px;
  width: 390px;
}

.transfer-wallet-modal .address-dropdown .account {
  display: flex;
  flex-direction: row;
  padding: 4px 16px 4px 10px;
  cursor: pointer;
  align-items: center;
  gap: 10px;
}

.transfer-wallet-modal .address-dropdown .accounts .account .logo {
  width: 26px;
  height: 26px;
}

.transfer-wallet-modal .address-dropdown .account .info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.transfer-wallet-modal .address-dropdown .account:hover,
.transfer-wallet-modal .address-dropdown .different-address:hover {
  background: #bef0ed;
}

.transfer-wallet-modal .address-dropdown .account .name {
  color: #171753;
  font-size: 16px;
  line-height: 32px;
  width: 210px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.transfer-wallet-modal .address-dropdown .account .address {
  font-size: 14px;
  line-height: 32px;
  color: #237b75;
}

.transfer-wallet-modal .address-dropdown .different-address {
  padding: 4px 16px 4px 42px;
  cursor: pointer;
}
.transfer-wallet-modal .address-dropdown .different-address .name {
  color: #171753;
  font-size: 16px;
  line-height: 32px;
}

.transfer-wallet-modal .send-to {
  width: 100%;
}

.transfer-wallet-modal .send-to .account {
  display: flex;
}

.transfer-wallet-modal .send-to .account .info {
  align-self: center;
}

.transfer-wallet-modal .send-to .account .account-logo {
  margin-top: 5px;
  height: 26px;
  width: 26px;
}

.transfer-wallet-modal .send-to .account .name {
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: -0.01em;
  color: #9be7c4;
}

.transfer-wallet-modal .send-to .account .address {
  font-size: 12px;
  line-height: 24px;
}

.transfer-wallet-modal .transaction-pending {
  font-size: 12px;
  line-height: 16px;
  transform: matrix(0.99, 0, -0.13, 1, 0, 0);
  width: 100%;
}

.transfer-wallet-modal .complete-tip {
  width: 100%;
  font-size: 18px;
  line-height: 32px;
}

.transfer-wallet-modal .content .right .number-to-transfer .input-logo {
  top: 25px;
}

.transfer-wallet-modal .content .right .eth-address input {
  padding-bottom: 12px;
}

.transfer-wallet-modal .foot-note {
  font-size: 10px;
  margin-top: 38px;
  font-weight: 400px;
  letter-spacing: 0.03em;
}

.gas-estimate-note-tooltip {
  box-sizing: border-box;
  padding: 11px 10px !important;

  width: 212px !important;

  background-color: #171753 !important;
  opacity: 1 !important;
  color: white !important;

  border-radius: 3px !important;
  text-align: left !important;
}

.gas-estimate-note-tooltip span {
  text-align: left !important;

  font-size: 12px !important;
  line-height: 16px !important;
  letter-spacing: 0.03em !important;
}
