@keyframes slideBox {
  0% {
    right: -120px;
  }

  100% {
    right: 10px;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.error-message {
  animation: slideBox 0.5s, fadeIn 0.5s;
  background: #ffa6a6;
  border-radius: 3px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
  color: #171753;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 15px 15px;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 300px;
  z-index: 10000;
}

.error-message.disabled {
  animation: fadeOut 0.75s;
  opacity: 0;
}

.error-message:after {
  background-color: #ffa6a6;
  border-bottom: 1px solid #ffa6a6;
  border-right: 1px solid #ffa6a6;
  content: '';
  height: 10px;
  position: absolute;
  right: -5px;
  top: 0px;
  transform: rotate(45deg) translate(50%, 50%);
  width: 10px;
}
