.kid-input {
  margin-bottom: 22px;
  display: flex;
  flex-direction: column;
  width: 348px;
  justify-content: space-between;
  font-style: normal;
}

.kid-input .description {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: #9be7c4;
}

.kid-input-label {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.03em;
}

.kid-input-field {
  background-color: rgba(245, 245, 245, 0.1);
  width: 422px;
  height: 32px;
  border-bottom: 1px solid #ffffff;
  padding: 3px 7px;

  color: white;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: -0.01em;
}

.kid-input-field:disabled {
  cursor: not-allowed;
}

.kid-input-field:focus {
  outline: none;
  border: 2px solid #5ed9d1;
  border-radius: 4px;
  box-sizing: border-box;
  padding-left: 5px;
}

.kid-input .error {
  color: red;
  margin-top: 5px;
}

.kid-input .kid-input-input-section .field {
  display: flex;
  align-items: center;
}

.kid-input .kid-input-input-section .field .prefix-link {
  font-size: 15px;
  margin-right: 4px;
}

.kid-input .kid-input-input-section .field .kid-input-field.kid {
  width: 255px;
}

#kid-share-icon {
  width: 20px;
  height: 20px;
  margin-left: 14px;
  cursor: pointer;
}

#kid-share-icon:focus {
  outline: none;
}
