/* UPLOAD FORM STAGE 1 START */
.uploadNFT-wrapper
  .uploadNFT
  .upload-form
  .nft-infomation
  .right-column.stage1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 60%;
}

.uploadNFT-wrapper
  .uploadNFT
  .upload-form
  .nft-infomation
  .right-column.stage1
  .field {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.uploadNFT-wrapper
  .uploadNFT
  .upload-form
  .nft-infomation
  .right-column.stage1
  .field
  .field-input.select-account {
  border: 0px;
  display: flex;
  gap: 30px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  align-items: center;
}
.uploadNFT-wrapper
  .uploadNFT
  .upload-form
  .nft-infomation
  .right-column.stage1
  .field
  .field-input.select-account
  .address {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    color: #49CE8B;
    ;
}

.uploadNFT-wrapper
  .uploadNFT
  .upload-form
  .nft-infomation
  .right-column.stage1
  .field
  .field-label {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  width: 114px;
  position: relative;
}
.uploadNFT-wrapper
  .uploadNFT
  .upload-form
  .nft-infomation
  .right-column.stage1
  .field
  .field-label
  .edit-icon {
  width: 15.5px;
  height: 18px;
  position: absolute;
  left: 71px;
  cursor: pointer;
}

.uploadNFT-wrapper
  .uploadNFT
  .upload-form
  .nft-infomation
  .right-column.stage1
  .field
  .field-label-checkbox {
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  padding-left: 7px;
}

.uploadNFT-wrapper
  .uploadNFT
  .upload-form
  .nft-infomation
  .right-column.stage1
  .field
  .field-input {
  border: 2px solid #f5f5f5;
  box-sizing: border-box;
  border-radius: 3px;
  background: inherit;
  width: 422px;
  color: #ffffff;
  font-size: 16px;
}

.uploadNFT-wrapper
  .uploadNFT
  .upload-form
  .nft-infomation
  .right-column.stage1
  .field
  .field-checkbox {
  margin-left: 129px;
}

.uploadNFT-wrapper
  .uploadNFT
  .upload-form
  .nft-infomation
  .right-column.stage1
  .field
  input.field-input {
  height: 32px;
}

.uploadNFT-wrapper
  .uploadNFT
  .upload-form
  .nft-infomation
  .right-column.stage1
  .field
  textarea.field-input {
  height: 88px;
  resize: none;
}
/* UPLOAD FORM STAGE 1 END */

/* UPLOAD FORM STAGE 2 START */
.uploadNFT-wrapper
  .uploadNFT
  .upload-form
  .nft-infomation
  .right-column.stage2 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 269px;
}

.uploadNFT-wrapper
  .uploadNFT
  .upload-form
  .nft-infomation
  .right-column.stage2
  .estimate-cost {
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  padding: 16px;
  border-radius: 3px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  display: flex;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.16));
  font-size: 16px;
  font-weight: 500;
  height: 106px;
  line-height: 18px;
  width: 187px;
}

.uploadNFT-wrapper
  .uploadNFT
  .upload-form
  .nft-infomation
  .right-column.stage2
  .estimate-cost:first-child {
  font-weight: 600;
}

.uploadNFT-wrapper
  .uploadNFT
  .upload-form
  .nft-infomation
  .right-column.stage2
  .estimate-cost
  .koi-consumed.ignore-consumed {
  text-decoration: line-through;
  text-decoration-color: #ffa54b;
}

.uploadNFT-wrapper
  .uploadNFT
  .upload-form
  .nft-infomation
  .right-column.stage2
  .estimate-cost
  .koi-free {
  color: #ffc78f;
  margin-left: 8px;
}
/* UPLOAD FORM STAGE 2 END */

/* UPLOAD FORM STAGE 3 START */
.uploadNFT-wrapper
  .uploadNFT
  .upload-form
  .nft-infomation
  .right-column.stage3 {
  width: 231px;
  margin-left: 19px;
  padding-top: 30px;
}
/* UPLOAD FORM STAGE 3 END */
