.account-setting-row {
  width: 100%;
  height: 75px;
  display: flex;
  flex-direction: row;
}

.account-setting-row .display-row {
  height: 60px;
  display: flex;
  flex-direction: column;
}

.account-setting-row .display-row.icon {
  padding-left: 28px;
}

.account-setting-row .display-row .logo-icon {
  width: 38px;
  height: 38px;
}

.account-setting-row .display-row.account-info {
  max-width: 40%;
  padding-left: 19px;
}

.account-setting-row .display-row .account-name-line {
  display: flex;
  width: 100%;
  margin-top: 5px;
}

.account-setting-row .account-name-line .name {
  white-space: nowrap;
  overflow: hidden;
  flex-grow: 1;
  text-overflow: ellipsis;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.03em;
  color: #171753;
}

.account-setting-row .account-name-line .edit-icon {
  padding-left: 14px;
}

.account-setting-row .display-row .get-seed-phrase-button {
  margin-top: 5px;
  width: 128px;
  min-width: 128px;
  height: 28px;
  min-height: 28px;
  padding: 5px 12px;
  border: 1.5px solid #237b75;
  box-sizing: border-box;
  border-radius: 3px;
  color: #237b75;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px
}
