.modal.seed-phrase-modal {
  margin-top: 46px;
  height: 504px;
}

.seed-phrase-modal .backup-phrase {
  position: relative;
  box-sizing: border-box;
  height: 568px;
  padding: 20px;
  padding-top: 0px;
  font-size: 15px;
  color: #171753;
  width: 380px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.seed-phrase-modal .backup-phrase .title {
  display: flex;
  gap: 15px;
  justify-content: center;
}
.seed-phrase-modal .backup-phrase .title .icon {
  width: 24px;
  height: 24px;
}

.seed-phrase-modal .backup-phrase .warning {
  display: flex;
  justify-content: center;
  gap: 9px
}
.seed-phrase-modal .backup-phrase .warning-icon {
  width: 24px;
  height: 24px;
}
.seed-phrase-modal .backup-phrase .warning-text {
  width: 300px;
  font-size: 12px;
}


.seed-phrase-modal .backup-phrase .phrase-display-box {
  position: relative;
  background: #f5f5f5;
  border: 1px solid #171753;
  border-radius: 2px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
  box-sizing: border-box;
  color: #434367;
  font-size: 13px;
  font-weight: 600;
  height: 119px;
  min-height: 119px;
  letter-spacing: 0.03em;
  line-height: 24px;
  padding: 12px;
  width: 100%;
}
.seed-phrase-modal .backup-phrase .phrase-display-box .copy-button {
  display: flex;
  gap: 9px;
  align-items: center;
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
}

.seed-phrase-modal .backup-phrase .confirm-button {
  width: 150px;
}

.seed-phrase-modal .backup-phrase .qa {
  display: flex;
  gap: 9px;
  font-size: 14px;
}
.seed-phrase-modal .backup-phrase .qa .qa-item {
  margin-bottom: 16px;
}

.seed-phrase-modal .backup-phrase .text {
  font-size: 16px;
}
