.kid-page-wrapper * {
  box-sizing: border-box;
}

.kid-page-wrapper {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding: 58px 122px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: white;
  font-style: normal;
  font-weight: 400;
}

.kid-page-wrapper .title-section {
  width: 100%;
  height: 212.5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.kid-page-wrapper .title-section h2 {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: -0.02em;
}

.kid-page-wrapper .title-section .leading {
  font-size: 16px;
  letter-spacing: -0.01em;
}

.kid-page-wrapper .title-section .wallet-address {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.03em;
  color: #49ce8b;
}

.kid-page-wrapper .form-section {
  margin-top: 30px;
  width: 100%;
  display: flex;
  gap: 33px;
  justify-content: center;
}

.kid-page-wrapper .form-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 258px;
  object-fit: contain;
}

.kid-page-wrapper .form-img .img {
  margin-bottom: 23px;
}

.kid-page-wrapper .form-img .avt-desc {
  margin: 10px 0px 26px 0px;

  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.03em;
  width: 182px;
  text-align: center;
}

.kid-page-wrapper .form-img .avt-desc a {
  color: white;
}

.kid-page-wrapper .form-img .profile-cover {
  margin-bottom: 17px;
  width: 100%;
  height: 154px;
  border-radius: 3px;
}

.kid-page-wrapper .kid-input .kid-input-area-field {
  background: transparent;
  width: 422px;
  height: 95px;
  border: 1px solid #ffffff;
  border-radius: 3px;
  resize: none;

  padding: 8px;
  color: white;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: -0.01em;
}

.kid-page-wrapper .form-section .section-name {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.03em;
  color: #49ce8b;
}

.kid-page-wrapper .link-account-desc {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.03em;
  margin-top: 0px;
}

.kid-page-wrapper .link-accounts-input-line {
  position: relative;
  margin-top: 18px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.kid-page-wrapper .link-accounts-input-line .remove-logo {
  position: absolute;
  cursor: pointer;
  top: 6px;
  right: -32px;
}

.kid-page-wrapper .link-accounts-input-line input {
  background: transparent;
  height: 32px;
  border: 1px solid #ffffff;
  border-radius: 3px;
  padding: 8px;

  color: white;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: -0.01em;
}

.kid-page-wrapper .link-accounts-input-line .link-accounts-input-name {
  width: 168px;
}

.kid-page-wrapper .link-accounts-input-line .link-accounts-input-value {
  width: 420px;
}

.kid-page-wrapper .add-more {
  margin-top: 27px;
  width: fit-content;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.kid-page-wrapper .add-more-icon {
  height: 22px;
  margin-right: 9px;
}

.kid-page-wrapper .save-kid-btn {
  margin: 16px auto 32px auto;
  width: 189px;
}

.ace_editor,
.ace_editor * {
  font-family: 'Courier New', Courier, monospace !important;
  font-size: 12px !important;
  font-weight: 400 !important;
  letter-spacing: 0 !important;
}
