.kid-page-wrapper * {
  box-sizing: border-box;
}

.kid-page-wrapper {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding: 58px 122px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-style: normal;
  font-weight: 400;
}

.kid-page-wrapper .title-section {
  width: 100%;
  height: 212.5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.kid-page-wrapper .title-section h2 {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: -0.02em;
}

.kid-page-wrapper .title-section .leading {
  font-size: 16px;
  letter-spacing: -0.01em;
}

.kid-page-wrapper .title-section .wallet-address {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.03em;
  color: #49ce8b;
}

.kid-page-wrapper .form-section {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.kid-page-wrapper .form-img {
  width: 258px;
}

.kid-page-wrapper .kid-input .kid-input-area-field {
  background: transparent;
  width: 422px;
  height: 95px;
  border: 1px solid #ffffff;
  border-radius: 3px;
  resize: none;

  padding: 8px;
  color: white;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: -0.01em;
}
