/* -- START CARD */
.nft-card {
  position: relative;
  width: 216px;
  height: 320px;
  cursor: pointer;
}

.nft-card .nft-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 185px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.03em;
  line-height: 24px;
  margin-bottom: 2px;
  padding-top: 10px;
  padding-bottom: 5px;
}

.nft-card .nft-warning-button {
  width: 216px;
  height: 32px;
  border: 1.5px solid #FF4141;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
  border-radius: 2px;
  box-sizing: border-box;
}
.nft-card .nft-warning-button .nft-warning-button-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  cursor: pointer;
}

.nft-card .nft-earned-koi {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.nft-card .nft-views {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.nft-card .register-button {
  display: flex;
  align-items: center;
  height: 20px;
  background: linear-gradient(90deg, #030332 0%, #171753 100%);
  border: 1px solid #f5f5f5;
  box-sizing: border-box;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
  border-radius: 2px;
  color: #ffffff;
}

.nft-card .register-button .icon {
  width: 15px;
}

.nft-card .nft-img {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 216px;
  height: 216px;
  object-fit: contain;
  background: #020221;
  -webkit-user-drag: none;
  box-sizing: border-box;
}

.nft-card .nft-img img {
  max-width: 100%;
  max-height: 100%;
}

.nft-card .nft-img.selected {
  border: 2px solid #ffc78f;
}

.nft-card .nft-img .nft-img-checked-icon {
  width: 40px;
  height: 40px;
  position: absolute;
  top: -20px;
  right: -20px;
}

.nft-card .copy-noti {
  top: 225px;
  font-size: 16px;
  line-height: 16px;
  color: #ffc78f;
  right: -90px;
  position: absolute;
  width: 80px;
  height: 30px;
  white-space: nowrap;
}

.nft-card .share-nft-button {
  top: 225px;
  right: 5px;
  position: absolute;
  width: 20px;
  height: 18px;
}

.nft-card .nft-path {
  top: 255px;
  right: 5px;
  position: absolute;
  width: 18px;
  height: 18px;
}
.nft-card .nft-path-eth {
  top: 226px;
  right: 5px;
  position: absolute;
  width: 18px;
  height: 18px;
}
/* -- END CARD */

.nft-card .nft-img-iframe-nft-card .nft-img-checked-icon {
  width: 40px;
  height: 40px;
  position: absolute;
  top: -20px;
  right: -20px;
}

.nft-card .nft-img-iframe-nft-card .iframe-wrapper-nft-card {
  position: relative;
  height: 216px;
  width: 216px;
  user-select: none;
}
.nft-card .nft-img-iframe-nft-card .iframe-wrapper-nft-card iframe {
  position: absolute;
  top: 0;
  width: 216px;
  height: 216px;
}
.nft-card .nft-img-iframe-nft-card .iframe-wrapper-nft-card .selected {
  border: 2px solid #ffc78f;
}

.nft-card .nft-img-iframe-nft-card .iframe-wrapper-nft-card .iframe-layer {
  position: absolute;
  top: 0;
  width: 216px;
  height: 216px;
  z-index: 100;
  background-color: red;
  opacity: 0;
}

.nft-card .nft-img-iframe-nft-card {
  /* overflow: hidden; */
  width: 216px;
  height: 216px;
  /* object-fit: contain; */
  background: #020221;
  -webkit-user-drag: none;
  box-sizing: border-box;
}

.nft-card > a {
  text-decoration: none;
}
