.collection-list-wrapper {
  /* align-items: center; */
  display: flex;
  justify-content: center;
  /* min-height: calc(100vh - 140px); */
}

.collection-list {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  justify-content: flex-start;
  max-width: 920px;
}
