.big-nft-card-wrapper-upload {
  display: flex;
  width: 100%;
  padding-top: 40px;
}

.big-nft-card-upload {
  color: #ffffff;
  display: flex;
  flex-direction: row;
  letter-spacing: 0.03em;
  width: 100%;
}

.big-nft-card-upload .nft-preview {
  width: 470px;
}

.big-nft-card-upload .nft-img {
  background: #020221;
  height: 470px;
  object-fit: contain;
  width: 470px;
}

.big-nft-card-upload .info {
  margin-left: 32px;
}

.big-nft-card-upload .info .nft-name {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  font-size: 48px;
  font-weight: 600;
  line-height: 56px;
  max-height: 112px;
  overflow: hidden;
}

.big-nft-card-upload .info .export-nft {
  align-items: center;
  display: flex;
  font-size: 16px;
  font-weight: 500;
  height: 20px;
  line-height: 20px;
}

.big-nft-card-upload .info .export-nft .arweave-icon {
  height: 24px;
  margin-right: 9px;
  width: 24px;
}

.big-nft-card-upload .info .export-nft .different-chain {
  cursor: pointer;
  font-weight: 600;
  text-decoration: underline;
}

.big-nft-card-upload .info .registered-date {
  font-size: 16px;
  font-weight: 500;
  height: 20px;
  line-height: 20px;
  margin-top: 16px;
}

.big-nft-card-upload .info .external-links {
  height: 24px;
  margin-top: 6px;
}

.big-nft-card-upload .info .external-links .external-link {
  background: #f5f5f5;
  border-radius: 2px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
  box-sizing: border-box;
  color: #171753;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  height: 24px;
  line-height: 20px;
  padding: 2px 5px;
  text-decoration: none;
}

.big-nft-card-upload .info .external-links .external-link-pending {
  background: #030332;
  border-radius: 2px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
  border: 1px solid #ffffff;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  font-size: 11px;
  height: 24px;
  line-height: 20px;
  padding: 2px 5px;
  text-decoration: none;
  width: 140px;
  margin-right: 29px;
  align-items: center;
  justify-content: center;
}

.big-nft-card-upload .info .external-links .external-link:first-of-type {
  margin-right: 24px;
}

.big-nft-card-upload .info .description {
  max-height: 120px;
  line-height: 20px;
  margin-top: 20px;
  overflow-y: scroll;
  font-size: 14px;
  padding-right: 11px;
}

.big-nft-card-upload .info .tags {
  display: flex;
  flex-direction: row;
  margin-top: 12px;
  max-width: 100%;
  flex-wrap: wrap;
  max-height: 200px;
  overflow-y: scroll;
}

.big-nft-card-upload .info .tags .tag-item {
  background: #bef0ed;
  border-radius: 24px;
  color: #171753;
  height: 20px;
  margin-right: 14px;
  padding: 2px 14px;
  margin-top: 8px;
}

.big-nft-card-upload .info .earned {
  display: flex;
  flex-direction: row;
  height: 32px;
  line-height: 32px;
  margin-top: 21px;
}

.big-nft-card-upload .info .earned .views {
  font-size: 24px;
}

.big-nft-card-upload .info .earned .koi {
  font-size: 18px;
  margin-left: 33px;
}

.big-nft-card-upload .info .share-embed {
  color: #171753;
  display: flex;
  flex-direction: row;
  font-size: 16px;
  font-weight: 600;
  height: 32px;
  margin-top: 10px;
}

.big-nft-card-upload .info .share-embed .share-button {
  background: #ffc78f;
  border-radius: 2px;
  border: 0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  width: 247px;
}

.big-nft-card-upload .info .share-embed .embed-button {
  background: #ffffff;
  border-radius: 2px;
  border: 0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  margin-left: 13px;
  width: 103px;
}

.big-nft-card-upload .info .social-icons {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-top: 17px;
  cursor: pointer;
}

.big-nft-card-upload .info .social-icons .social-icon {
  width: 28px;
  height: 28px;
}
