.profile-picture-modal {
  position: fixed;
  width: 234px;
  height: 70px;
  top: 70px;
  right: 25px;
  background-color: #353563;
  color: #ffffff;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  padding-left: 15px;
  border-radius: 4px;
  cursor: pointer;
  z-index: 200;
}
