/* -- START CARD */
.nft-simple-card-wrapper {
  color: #ffffff;
  cursor: pointer;
  height: 320px;
  position: relative;
  width: 216px;
}

.nft-simple-card-wrapper {
  color: #ffffff;
  cursor: pointer;
  position: relative;
  width: 216px;
}

.nft-simple-card * {
  box-sizing: border-box;
}

.nft-simple-card {
  border-radius: 3px;
  box-sizing: border-box;
  left: -20px;
  padding: 20px;
  position: absolute;
  width: 256px;
}
.nft-simple-card .iframe-wrapper {
  position: relative;
  height: 216px;
  width: 216px;
  user-select: none;
}
.nft-simple-card .iframe-wrapper iframe {
  position: absolute;
  top: 0;
  width: 216px;
  height: 216px;
}
.nft-simple-card .iframe-wrapper .iframe-layer {
  position: absolute;
  top: 0;
  width: 216px;
  height: 216px;
  z-index: 100;
  background-color: red;
  opacity: 0;}

.nft-simple-card .link-tag {
  text-decoration: none;
}

.nft-simple-card .nft-name {
  padding-top: 5px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.03em;
  line-height: 24px;
  margin-bottom: 2px;
  overflow: hidden;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.nft-simple-card .nft-name:hover {
  text-decoration: underline;
}

.nft-simple-card .nft-view {
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.nft-simple-card .nft-earned-koi {
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 0.03em;
  line-height: 16px;
}

.nft-simple-card .register-button {
  align-items: center;
  background: linear-gradient(90deg, #030332 0%, #171753 100%);
  border-radius: 2px;
  border: 1px solid #f5f5f5;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  height: 20px;
}

.nft-simple-card .register-button .icon {
  width: 15px;
}

.nft-simple-card .nft-img {
  -webkit-user-drag: none;
  background: #020221;
  height: 216px;
  object-fit: contain;
  width: 216px;
}

.nft-simple-card .copy-noti {
  color: #ffc78f;
  font-size: 13px;
  height: 30px;
  line-height: 16px;
  position: absolute;
  right: -65px;
  top: 270px;
  white-space: nowrap;
  width: 80px;
}

.nft-simple-card .share-nft-button {
  height: 18px;
  position: absolute;
  right: 20px;
  top: 270px;
  width: 18px;
}

.nft-simple-card .nft-path {
  height: 18px;
  position: absolute;
  right: 20px;
  top: 295px;
  width: 18px;
}
/* -- END CARD */
