.modal-upload-container {
  z-index: 1000;
  margin: 0 auto;
  top: 16px;
  right: 347px;
  position: fixed;
  background-color: rgba(23, 23, 83, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-upload-container .modall {
  width: 239px;
  background-color: #0B0B3F;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 6px;
}

.modal-upload-container .modal-close-icon {
  width: 14px;
  height: 14px;
  position: absolute;
  right: 4px;
  top: 4px;
  cursor: pointer;
}
