.sign-tx {
  color: #171753;
  letter-spacing: 0.03em;
}

.sign-tx .account-section {
  padding: 34px 66px 29px;
  font-size: 16px;
  font-weight: 400;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-tx .account-section .account {
  padding-left: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.sign-tx .account-section .account .account-info {
  margin-left: 7px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 38px;
}

.sign-tx .account-section .account .logo-icon {
  width: 38px;
  height: 38px;
  min-width: 38px;
  max-height: 38px;
  display: block;
  margin: auto;
}

.sign-tx .account-section .origin {
  align-items: center;
  height: 20px;
  padding-top: 20px;
}

.sign-tx .account-section .origin > a {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #237B75;
  text-decoration: none;
}

.sign-tx .account-section .account .account-info .title {
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
}

.sign-tx .account-section .account .account-info .address {
  color: #237b75;
  font-size: 14px;
  line-height: 20px;
  word-break: break-word;
}

.content-section {
  display: flex;
  background: #eeeeee;
  justify-content: center;
  width: 426px;
  padding: 20px 0;
}

.sign-tx .content-section .transaction-detail {
  box-sizing: border-box;
  display: block;
  height: 342px;
  padding: 22px 20px 80px;
  position: relative;
  font-size: 14px;
  line-height: 20px;
}

.sign-tx .content-section .transaction-detail .label {
  margin-left: 0;
  font-size: 18px;
}

.sign-tx .content-section .transaction-detail .details {
  margin: 0 27px;
  display: flex;
  flex-direction: column;
}

.sign-tx .content-section .transaction-detail .detail {
  padding-top: 21px;
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  justify-content: space-between;
  align-items: center;
}

.sign-tx .content-section .transaction-detail .detail.koi {
  padding-top: 26px;
}

.sign-tx .content-section .transaction-detail .detail.ar {
  padding-top: 16px;
}

.sign-tx .content-section .transaction-detail .detail .detail-row {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 46px;
  align-items: flex-start;
}

.sign-tx .content-section .transaction-detail .detail .detail-row.amount {
  margin-left: 40px;
  align-items: flex-end;
}

.sign-tx .content-section .transaction-detail .send .detail-row .koi, .total .detail-row .koi {
  font-size: 24px;
}

.sign-tx .content-section .transaction-detail .detail.total .row-label {
  font-size: 18px;
  font-weight: 600;
}

.sign-tx .content-section .transaction-detail .detail .detail-row .usd {
  margin-top: 6px;
  color: #6D6DA0;
}

.sign-tx .content-section .transaction-detail .button-group {
  bottom: 23px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: calc(100% - 40px);
}

.sign-tx .content-section .transaction-detail .button-group .button {
  width: 147px;
  height: 40px;
}

.sign-tx .content-section .transaction-detail .button-group .reject {
  color: #171753;
  border: 1.5px solid #171753;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
}
