.uploadNFT-wrapper .uploadNFT .drag-active .description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.uploadNFT-wrapper .uploadNFT .drag-active .description .description-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  margin-top: 85px;
}

.uploadNFT-wrapper .uploadNFT .drag-active .description .description-detail {
  margin-top: 14px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
}

.uploadNFT-wrapper .uploadNFT .drag-active .description .upload-nft-icon {
  margin-top: 38px;
}
