.start-up {
  display: flex;
  font-size: 40px;
  color: #ffffff;
  position: relative;
  /* background: linear-gradient(90deg, #030332 0%, #171753 100%); */
  background: #171753;
  min-height: 100vh;
}

.start-up button {
  color: #171753;
}

.start-up button:disabled {
  color: gray;
}

.start-up input {
  padding-left: 4px;
  padding-right: 30px;
}

.startup-logo {
  width: 72px;
  height: 72px;
  position: absolute;
  left: 8px;
  top: 8px;
  z-index: 1;
}

.start-up .goback-button {
  position: fixed;
  top: 36px;
  left: 150px;
}
