.activity-setting {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 54px;
  width: 418px;
  font-size: 13px;
  line-height: 20px;
  font-weight: 600;
  color: #237B75;
  position: relative;
}
.activity-setting .collapse-extend-icon {
  width: 13px;
  height: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 26px;
  cursor: pointer;
}

.activity-container {
  width: 100%;
  background: #ffffff;
  overflow-y: hidden;
}
.activity-container.collapsed {
  height: 52px;
}

.activity-container .activity-account-label {
  display: flex;
  align-items: center;
  width: 380px;
  height: 52px;
  background-color: #030332;
  color: #ffffff;
  font-size: 17px;
  line-height: 20px;
  font-weight: 600;
  align-items: center;
  justify-content: space-between;
  padding-left: 23px;
  padding-right: 23px;
}

/* .activity-container .activity-account-label .text {
  margin-left: 23px;
} */
.activity-container .activity-account-label .collapse-icon {
  width: 20px;
  height: 20px;
  color: white;
  background-color: white;
  display: flex;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  padding: 3px;
}

.activity-container .load-more {
  margin: 40px 126px 20px;
  width: 174px;
  border: 1.5px solid #171753;
  box-sizing: border-box;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
  border-radius: 2px;
}

.all-activities {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 426px;
}

.all-activities .load-more-btn {
  margin: 20px 0px;
  width: 174px;
  border: 1.5px solid #171753;
  box-sizing: border-box;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
  border-radius: 2px;
}

.activities .select-accounts {
  display: flex;
  flex-direction: column;
  padding: 25px 32px;
  gap: 14px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  user-select: none;
}
.activities .select-accounts .account {
  display: flex;
  gap: 26px;
}
.activities .select-accounts .account label {
  cursor: pointer;
}
