.activity-container {
  width: 100%;
  background: #ffffff;
}

.activity-container .activity-account-label {
  display: flex;
  align-items: center;
  width: 426px;
  height: 52px;
  background-color: #030332;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 20px;
  font-weight: 600;
}

.activity-container .activity-account-label .text {
  margin-left: 23px;
}

.activity-container .load-more {
  margin: 40px 126px 20px;
  width: 174px;
  border: 1.5px solid #171753;
  box-sizing: border-box;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
  border-radius: 2px;
}

.all-activities {
  display: flex;
  flex-direction: column;
}
