.wallet-settings-wrapper * {
  box-sizing: border-box;
  font-family: Sora;
}

.wallet-settings-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  max-width: 100%;
  color: #ffffff;
}

.wallet-settings-wrapper .header {
  font-size: 24px;
  font-weight: 600;
  line-height: 40px;
  margin-left: 20px;
  color: #9be7c4;
}

.wallet-settings {
  max-width: 100%;
  /* width: 70%; */
}



.wallet-settings .items .item .coming-soon {
  color: #ffc78f;
}

.wallet-settings .items .item .actions {
  display: flex;
  justify-content: space-between;
}

.wallet-settings .items .item .actions .action {
  width: 230px;
  height: 32px;
  padding: 12px 14px;
  color: #171753;
  margin-right: 4px;

  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.16));
  border-radius: 3px;

  font-weight: 400;
  font-size: 14px;

  cursor: pointer;
  user-select: none;
}
.wallet-settings .items .item .actions .action--seed-phrase {
  background-color: #f5f5f5;
}

.wallet-settings .items .item .actions .action--json {
  background-color: #bef0ed;
}

.wallet-settings .items .item .actions .action--create-new {
  background-color: #9be7c4;
}

.wallet-settings .items .item .actions .action:active {
  color: #171753;
  background: #ffffff;
  transition: ease 0.25s;
}

.wallet-settings .items .item .currency {
  background-color: inherit;
  border: 1px solid #ffffff;
  height: 32px;
  margin-top: 12px;
  width: 280px;
}

