/* CREATE NFT BUTTON START */
.uploadNFT-wrapper .uploadNFT .upload-form .create-ntf-button {
  background: #ffffff;
  border-radius: 3px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
  color: #171753;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  height: 40px;
  line-height: 15px;
  margin-top: 24px;
  width: 236px;
}

.confirmation-bottom-button {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  gap: 90px;
  margin-top: 27px;
}

.confirmation-bottom-button .friends-referal {
  display: flex;
  flex-direction: column;
}

.confirmation-bottom-button .friends-referal .referal-title {
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
}

.confirmation-bottom-button .friends-referal .referal-description {
  color: #ffc78f;
  font-size: 14px;
  line-height: 24px;
}

.confirmation-bottom-button .friends-referal .fill-code {
  display: flex;
  margin-top: 4px;
}

.confirmation-bottom-button .friends-referal .fill-code .friend-code-input {
  border-radius: 2px 0px 0px 2px;
  border: 1.5px solid #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
  box-sizing: border-box;
  height: 40px;
  width: 289px;
}

.confirmation-bottom-button
  .friends-referal
  .fill-code
  .submit-friend-code-button {
  background: #ffc78f;
  border-radius: 0px 2px 2px 0px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
  color: #171753;
  font-size: 16px;
  font-weight: 600;
  height: 40px;
  line-height: 40px;
  text-align: center;
  width: 93px;
  cursor:pointer
}

.confirmation-bottom-button .friends-referal .success-noti {
  background: #ffc78f;
  border-radius: 2px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
  color: #171753;
  font-size: 16px;
  font-weight: 600;
  line-height: 40px;
  margin-top: 4px;
  text-align: center;
  width: 382px;
}
/* CREATE NFT BUTTON END */
