/* START CONTENT */
.app .app-content .cards {
  max-width: 987px;
  margin: auto;
  padding: 40px 104px;
  padding-top: 150px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.app .app-content .cards .small-cards {
  width: 100%;
  gap: 10px 157px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.app .app-content .title {
  font-size: 32px;
  line-height: 40px;
  font-weight: 400;
  letter-spacing: -0.02em;
  color: #ffffff;
  position: absolute;
  top: 58px;
  left: 122px;
}

/* END CONTENT */


@media only screen and (max-width: 1170px) {
  .app .app-content .cards .small-cards {
    justify-content: space-around;
  }
}
