/* START CONTENT */
.app .app-content .cards {
  max-width: 987px;
  margin: auto;
  padding: 40px 104px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.app .app-content .cards .small-cards {
  width: 100%;
  gap: 10px 148px;
  display: flex;
  flex-wrap: wrap;
}

.app .app-content .title {
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-left: 96px;
}

/* END CONTENT */
