.share-nft.container {
  padding: 41px 52px;
}

.share-nft.title.container {
  font-size: 25px;
  font-weight: 500;
  line-height: 41px;
  text-align: center;
  color: #ffffff;
  padding: 0;
  padding-bottom: 21px;
}

.share-nft.text-box.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 132px;
  padding: 0;
}

.share-nft.social-icon.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 28px;
  padding: 0;
  padding-top: 40px;
}

.share-nft.social-icon.container .icon {
  width: 28px;
  height: 28px;
  cursor: pointer;
}

.share-nft.text-box {
  position: relative;
}

.share-nft.text-box.title {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  color: #ffffff;
}

.share-nft.text-box.content {
  border: 1.5px solid #030332;
  display: flex;
  align-items: center;
  justify-content: center;
}

.share-nft.text-box.text {
  background-color: #ffffff;
  width: 374px;
  border: 0px;
  height: 32px;
  padding: 0;
  padding-left: 9px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.share-nft.text-box.btn {
  height: 32px;
  width: 122px;
  background-color: #FFC78F;
  border: 0px;
  border-left: 2px solid #171753;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  padding: 0;
  cursor: pointer;
}

.copy-noti {
  font-size: 16px;
  line-height: 16px;
  color: #ffc78f;
  right: 0px;
  top: 0px;
  position: absolute;
  width: 80px;
  height: 30px;
  white-space: nowrap;
}
