.uploadNFT-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  letter-spacing: 0.03em;
  justify-content: center;
  margin: auto;
  padding: 150px 40px 104px;
}

.uploadNFT-wrapper .drop-box-title {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 39px;
}

.uploadNFT-wrapper .drop-box-title span {
  color: #9BE7B4;
}

.uploadNFT-wrapper .uploadNFT {
  height: 460px;
  max-width: 987px;
  width: 100%;
  border-radius: 3px;
  border: 2px solid #f5f5f5;
  box-sizing: border-box;
  padding: 8px;
  /* background-color: #171753; */
}

.uploadNFT-wrapper .uploadNFT.dropbox {
  width: 719px;
  height: 280px;
  background-color: #171753;
  border: 1.5px solid #FFA54B;
}

.uploadNFT-wrapper .uploadNFT.stage3 {
  border: 0px;
  height: 100%;
}


.uploadNFT-wrapper .uploadNFT.success {
  border-color: #9be7c4;
}

.uploadNFT-wrapper .uploadNFT.error {
  border-color: #ff0000;
}
