.modal.edit-account-name-modal {
  min-height: 0;
}

.edit-account-name-modal .modal-title {
  font-weight: 600;
}

.input-field.account-name-input {
  padding: 0 20px 20px;
}

.input-field.account-name-input .toggle-display {
  display: none;
}
