.collections-container {
  width: 941px;
  margin: auto;
  color: #ffffff;
  padding: 60px;
}

.collections-container__header {
  text-align: center;
  padding-bottom: 20px;
  position: relative;
}

.collections-container__header__title {
  font-size: 32px;
  line-height: 40px;
  font-weight: 400;
  text-align: left;
}

.collections-container__header__add-icon {
  position: absolute;
  width: 21px;
  height: 21px;
  top: 9.5px;
  left: 197px;
  cursor: pointer;
}

.collections-container__header__subtitle {
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
}

.collections-container__content__first {
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  padding-bottom: 21px;
}

.collections-container__content__second {
  padding-bottom: 26px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
}

.collections-container__content__second__title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  padding-bottom: 14px;
}


.collections-container__content__second__list__item {
  display: flex;
  gap: 17px;
  padding: 9px 0px;
}

.collections-container__content__third {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
}