.card {
  align-items: center;
  background: #ffffff;
  border-radius: 3px;
  border: 1.5px solid #237b75;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
  color: #171753;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 394px;
}
