.big-nft-card-wrapper {
  position: fixed;
  top: calc((100vh - 470px) / 2);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.big-nft-card {
  color: #ffffff;
  display: flex;
  flex-direction: row;
  letter-spacing: 0.03em;
  max-width: 944px;
}

.big-nft-card .nft-preview {
  width: 470px;
  position: relative;
}

.big-nft-card .go-back-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-right: 11px;
}

.big-nft-card .nft-img {
  background: #020221;
  height: 470px;
  object-fit: contain;
  width: 470px;
}

.big-nft-card .info {
  margin-left: 32px;
  max-width: 512px;
}

.big-nft-card .info .nft-name {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  font-size: 48px;
  font-weight: 600;
  line-height: 56px;
  max-height: 112px;
  overflow: hidden;
}

.big-nft-card .info .export-nft {
  align-items: center;
  display: flex;
  font-size: 16px;
  font-weight: 500;
  width: 512px;
  height: 24px;
}

.big-nft-card .info .export-nft .wallet-icon {
  height: 24px;
  width: 24px;
  margin-right: 9px;
}

.big-nft-card .transfer-nft {
  display: flex;
}

.big-nft-card .transfer-nft-wrapper {
  display: flex;
  height: 24px;
}

.big-nft-card .export-nft .transfer-text {
  height: 24px;
  letter-spacing: 0.03em;
  display: flex;
}

.big-nft-card .info .export-nft .wallet-logo {
  display: flex;
  margin-left: 10px;
  width: 115px;
  background: #171753;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
  border-radius: 2px;
  cursor: pointer;
}

.big-nft-card .info .export-nft .wallet-logo .logo {
  height: 24px;
}

.big-nft-card .other-chains {
  display: flex;
  margin-left: 16px;
}

.big-nft-card .other-chains .chains-container {
  display: flex;
  height: 24px;
  padding-left: 5px;
}

.export-nft .other-chains .coming-soon {
  color: #ffffff;
  font-size: 16px;
}

.big-nft-card .export-nft .logo {
  height: 24px;
  width: 24px;
}

.big-nft-card .info .export-nft .wallet-logo .text {
  /* margin-right: 5px; */
  width: 79px;
  height: 24px;

  font-size: 16px;
  padding-left: 3px;
}

.big-nft-card .info .export-nft .different-chain {
  cursor: pointer;
  font-weight: 600;
  text-decoration: underline;
}

.big-nft-card .info .registered-date {
  font-size: 16px;
  font-weight: 500;
  height: 20px;
  line-height: 20px;
  margin-top: 16px;
}

.big-nft-card .info .external-links {
  margin-top: 6px;
}

.big-nft-card .info .external-links * {
  box-sizing: border-box;
}

.big-nft-card .info .external-links .external-link {
  background: #f5f5f5;
  border-radius: 2px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
  box-sizing: border-box;
  color: #171753;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  height: 24px;
  padding: 4px 8px;
  text-decoration: none;
  text-align: center;
  line-height: 14px;
}

.big-nft-card .info .external-links .external-link.disabled {
  background-color: #b0b0b0;
  color: #434367;
}

.big-nft-card .info .external-links .external-link.koii {
  background: #171753;
  color: #ffffff;
  border: 1px solid #ffffff;
}
.big-nft-card a.disabled {
  pointer-events: none;
  cursor: default;
}
.big-nft-card .info .external-links .external-link.koii.disabled {
  background-color: #434367;
  border: 1px solid #b0b0b0;
  color: #b0b0b0;
}

.big-nft-card .info .external-links .external-link:first-of-type {
  margin-right: 24px;
}

.big-nft-card .info .description {
  height: 120px;
  line-height: 20px;
  margin-top: 20px;
  overflow-y: overlay;
  font-size: 14px;
  padding-right: 11px;
}

.big-nft-card .info .description::-webkit-scrollbar {
  width: 3px;
}

.big-nft-card .info .description::-webkit-scrollbar-track {
  background: #888;
}

.big-nft-card .info .description::-webkit-scrollbar-thumb {
  background: #f1f1f1;
}

.big-nft-card .info .tags {
  display: flex;
  flex-direction: row;
  margin-top: 12px;
}

.big-nft-card .info .tags .tag-item {
  background: #bef0ed;
  border-radius: 24px;
  color: #171753;
  height: 20px;
  margin-right: 14px;
  padding: 2px 14px;
}

.big-nft-card .info .earned {
  display: flex;
  flex-direction: row;
  height: 32px;
  line-height: 32px;
  margin-top: 21px;
}

.big-nft-card .info .earned .views {
  font-size: 24px;
}

.big-nft-card .info .earned .koi {
  font-size: 18px;
  margin-left: 33px;
}

.big-nft-card .info .share-transfer {
  color: #171753;
  display: flex;
  flex-direction: row;
  font-size: 16px;
  font-weight: 600;
  height: 32px;
  margin-top: 10px;
  position: relative;
}

.big-nft-card .info .share-transfer .share-button {
  background: #ffc78f;
  border-radius: 2px;
  border: 0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  width: 247px;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.01em;
  text-align: center;
}

.big-nft-card .info .share-transfer .transfer-button {
  background: #ffffff;
  border-radius: 2px;
  border: 0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  margin-left: 13px;
  width: 103px;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.01em;
  text-align: center;
}

.big-nft-card .info .social-icons {
  display: flex;
  flex-direction: row;
  gap: 48px;
  margin-top: 17px;
  justify-content: flex-start;
  align-items: center;
}

.big-nft-card .info .social-icons .social-icon {
  width: 32px;
  max-height: 32px;
  cursor: pointer;
}

.big-nft-card .info .social-icons.disabled .social-icon {
  pointer-events: none;
  cursor: default;
  filter: brightness(0) saturate(100%) invert(90%) sepia(1%) saturate(21%) hue-rotate(11deg)
    brightness(79%) contrast(91%);
}

.big-nft-card .info .copy-noti {
  position: absolute;
  margin: 16px auto auto 360px;
  font-size: 14px;
  line-height: 16px;
  color: #ffc78f;
  width: 80px;
  height: 30px;
  white-space: nowrap;
  font-weight: 400;
  user-select: none;
}

.iframe-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.iframe-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.big-nft-card .nft-img-iframe {
  height: 470px;
  object-fit: contain;
  width: 470px;
  padding-top: 90px;
}

.big-nft-card .transfer-nft-wrapper .overlapped-icons {
  position: relative;
  width: 36px;
}

.big-nft-card .transfer-nft-wrapper .overlapped-icons .overlapped-ar {
  position: absolute;
  width: 24px;
}

.big-nft-card .transfer-nft-wrapper .overlapped-icons .overlapped-eth {
  position: absolute;
  width: 24px;
  left: 8px;
}

.big-nft-card .info .share-transfer button:disabled {
  cursor: not-allowed;
  background-color: #b0b0b0;
  color: #434367;
}

.big-nft-card .info .earned.disabled {
  color: #b0b0b0;
}

.big-nft-card .info .share-transfer .disabled-msg {
  position: absolute;
  top: -71px;
  left: 107px;

  width: 222px;
  height: 43px;
  padding: 6px;

  border: 1px solid #ffffff;
  border-radius: 2px;
  background-color: #171753;

  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.01em;
}

.big-nft-card .info .share-transfer .disabled-msg::before {
  content: '';
  position: absolute;
  bottom: -11px;
  left: 15px;
  border-width: 10px 10px 0;
  border-style: solid;
  border-color: white transparent;
  display: block;
  width: 0;
}

.big-nft-card .info .share-transfer .disabled-msg::after {
  content: '';
  position: absolute;
  bottom: -9px;
  left: 16px;
  border-width: 9px 9px 0;
  border-style: solid;
  border-color: #171753 transparent;
  display: block;
  width: 0;
}
