.unlock-screen {
  box-sizing: border-box;
  color: #171753;
  height: 600px;
  letter-spacing: 0.03em;
  width: 426px;
}

.unlock-screen .screen-header {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 241px;
  padding: 40px 0 20px;
}

.unlock-screen .screen-header .koi-icon {
  height: 130px;
  width: 130px;
}

.unlock-screen .screen-header .title {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  text-align: center;
}

.unlock-screen .screen-content {
  align-items: center;
  background: #eeeeee;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 339px;
  justify-content: center;
  padding: 18px 48px 35px;
}

.unlock-screen .screen-content .welcome {
  font-size: 18px;
  font-weight: 500;
  height: 20px;
}

.unlock-screen .screen-content .input-password {
  margin-top: 34px;
}

.unlock-screen .screen-content .unlock-button {
  font-size: 24px;
  font-weight: 500;
  height: 56px;
  line-height: 18px;
  margin-top: 40px;
  width: 100%;
}

.unlock-screen .screen-content .seed-phrase {
  margin-top: 64px;
}

.unlock-screen .screen-content .seed-phrase .link-to-seed-phrase {
  color: #237b75;
  font-weight: 500;
}
