/* Hide scrollbar for Chrome, Safari and Opera */
#gallery::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#gallery {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  height: calc(100vh - 159px);
  overflow-y: scroll;
}

#gallery > div {
  min-height: calc(100vh - 155px);
}
