.setting-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.setting-mock-content {
  padding-top: 20px;
  width: 100%;
  background: #ffffff;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.global-button.lock {
  margin-top: 22px;
}

.setting-container .allow-finnie {
  padding: 20px;
  text-align: center
}

.setting-container .allow-finnie button {
  width: 200px;
  height: 27px;
  font-weight: 800;
  font-size: 14px;
  color: #171753;
}
