.seed-phrase-lock-screen {
  color: #171753;
  width: 100%;
}

.seed-phrase-lock-screen .content {
  flex-direction: column;
  display: flex;
  width: 100%;
  padding: 16px 0 15px;
}

.seed-phrase-lock-screen .content .welcome {
  font-size: 18px;
  margin-bottom: 12px;
}

.seed-phrase-lock-screen .content .field {
  margin-bottom: 20px;
}

.seed-phrase-lock-screen .content .seed-phrase {
  height: 130px;
}

.seed-phrase-lock-screen .content .seed-phrase input {
  height: 110px;
}

.seed-phrase-lock-screen .content .unlock-button {
  width: 330px;
  height: 56px;
  font-weight: 600;
  font-size: 23px;
  line-height: 18px;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-top: 14px;
}

.seed-phrase-lock-screen .content .login-with-password {
  align-self: flex-start;
  margin-left: 48px;
  margin-top: 19px;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: #171753;
}

.seed-phrase-lock-screen .content .login-with-password .password-link {
  color: #237b75;
}
