.wallet {
  position: relative;
  width: 426px;
  padding: 20px 0px;
  background: #ffffff;
  color: #171753;
  overflow-y: hidden;
}

.wallet:nth-child(2n) {
  background: #EEEEEE;
}

.wallet.collapsed {
  height: 40px;
}

.wallet .wallet-wrapper {
  padding: 0 48px;
}

.wallet .wallet-wrapper .wallet-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 330px;
  padding-bottom: 16px;
}

.wallet .wallet-wrapper .address {
  width: 330px;
  min-height: 28px;
  border: 1.5px solid #171753;
  color: #237b75;
  font-size: 13px;
}

/* WALLET INFO ROW */
.wallet .wallet-wrapper .wallet-info .wallet-info-row {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 80px;
  width: 165px;
  flex-grow: 1;
  padding-left: 32px;
}

.wallet .wallet-wrapper .wallet-info .fish {
  position: absolute;
  width: 36px;
  height: 36px;
  top: 0px;
  left: -16px;
}

.wallet .wallet-wrapper .wallet-info .wallet-info-row .name {
  display: flex;
  justify-content: space-between;
  width: 130px;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
}

.wallet .wallet-wrapper .wallet-info .wallet-info-row .addr {
  display: flex;
  justify-content: space-between;
  width: 130px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #237b75;
}

.wallet .wallet-wrapper .wallet-info .wallet-info-row .icon {
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.wallet .wallet-wrapper .wallet-info .wallet-info-row .name .text {
  overflow: hidden;
  text-overflow: ellipsis;
}

.wallet .wallet-wrapper .wallet-info .wallet-info-row .icon {
  cursor: pointer;
  margin-left: 10px;
}

/* WALLET BALANCE ROW */
.wallet .wallet-wrapper .wallet-info .wallet-balance-row {
  display: flex;
  align-items: flex-end;
  padding-right: 32px;
  width: 165px;
  height: 80px;
  flex-direction: column;
  position: relative;
  user-select: none;
}

.wallet .wallet-wrapper .wallet-info .wallet-balance-row .collapse-icon {
  width: 14px;
  height: 6px;
  position: absolute;
  top: 5px;
  right: -7px;
  cursor: pointer;
}

.wallet .wallet-wrapper .wallet-info .wallet-balance-row .koi-balance, .ar-balance {
  height: 40px;
  text-align: right;
}

.wallet .wallet-wrapper .wallet-info .wallet-balance-row .balance {
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
}

.wallet .wallet-wrapper .wallet-info .wallet-balance-row .usd-exchange {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #6d6da0;
  padding-left: 4px;
}


.wallet .wallet-wrapper .wallet-conf {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 500;
  margin-top: 23px;
}

.wallet .wallet-wrapper .wallet-conf .wallet-conf-item {
  display: flex;
  align-items: center;
  height: 30px;
  border-bottom: 1px solid rgba(23, 23, 83, 0.3);
}

.wallet .wallet-wrapper .wallet-conf .wallet-conf-item:hover {
  cursor: pointer;
}

/* .wallet .wallet-wrapper .wallet-conf .wallet-conf-item svg {
  width: 29px;
  height: 28px;
} */

.wallet .wallet-wrapper .wallet-conf p {
  margin: 0;
  height: 20px;
  margin-left: 18px;
}


.wallet .wallet-wrapper .wallet-conf .delete-wallet {
  color: #FF4141
}

.wallet .wallet-wrapper .lock-button {
  margin-top: 10px
}
