.wallet {
  position: relative;
  width: 426px;
  padding: 20px 0;
  background: #ffffff;
}

.wallet .fish {
  position: absolute;
  top: 20px;
  left: 28px;
  width: 30.4px;
  height: 22.04px;
}

.wallet .wallet-wrapper {
  padding: 0 48px;
}

.wallet .wallet-wrapper .wallet-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.wallet .wallet-wrapper .address {
  width: 330px;
  min-height: 28px;
  font-size: 13x;
}

.wallet .wallet-wrapper .wallet-info .wallet-info-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 165px;
  height: 66px;
}

.wallet .wallet-wrapper .wallet-info .wallet-info-row .name {
  display: flex;
  justify-content: space-around;
  width: 130px;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
}

.wallet .wallet-wrapper .wallet-info .wallet-info-row .addr {
  display: flex;
  justify-content: space-around;
  width: 130px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #237B75;
}

.wallet .wallet-wrapper .wallet-info .wallet-info-row .koi {
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
}

.wallet .wallet-wrapper .wallet-info .wallet-info-row .ar {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #6D6DA0;
}


.wallet .wallet-wrapper .wallet-conf {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 500;
  margin-top: 23px;
}

.wallet .wallet-wrapper .wallet-conf .wallet-conf-item {
  display: flex;
  align-items: center;
  height: 30px;
  border-bottom: 1px solid rgba(23, 23, 83, 0.3);
}

.wallet .wallet-wrapper .wallet-conf .wallet-conf-item:hover {
  cursor: pointer;
}

/* .wallet .wallet-wrapper .wallet-conf .wallet-conf-item svg {
  width: 29px;
  height: 28px;
} */

.wallet .wallet-wrapper .wallet-conf p {
  margin: 0;
  height: 20px;
  margin-left: 18px;
}


.wallet .wallet-wrapper .wallet-conf .delete-wallet {
  color: #FF4141
}

.wallet .wallet-wrapper .lock-button {
  margin-top: 10px
}
