/* START HEADER */
.app-header {
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.app-header .header-left,
.app-header .header-center,
.app-header .header-right {
  width: calc(100vw / 3);
}

.app-header .account-select select {
  margin-right: 40px;
  width: 200px;
}

.app-header .header-left .logo {
  margin: 25px 0px 0px 8px;
  width: 72px;
  height: 72px;
}

.app-header .header-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 25px;
  align-items: flex-start;
  gap: 10px;
  height: 80px;
  margin-top: 40px;
}
.app-header .header-right .header-right-balances {
  display: flex;
  flex-direction: column;
}

.app-header .header-right .koi-info {
  display: flex;
  align-items: flex-end;
}

.app-header .header-right .no-koi {
  align-items: center;
  border-radius: 4px;
  border: 1.5px solid #171753;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-weight: 600;
  height: 32px;
  justify-content: center;
  text-decoration: none;
  line-height: 18px;
  width: 259px;
}

.app-header .header-right .no-koi .get-some {
  color: #ffffff;
  width: 259px;
  text-align: right;
}

.app-header .header-right .total-koi {
  display: flex;
  align-items: center;
  background: #ffffff;
  border: 0px;
  box-sizing: border-box;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  color: #171753;
  font-weight: 600;
  line-height: 16px;
  font-size: 16px;
  position: relative;
  box-sizing: border-box;
  height: 34px;
  padding: 0px 10px;
}

.app-header .header-right .total-koi div {
  height: 16px;
}

.app-header .header-right .total-koi .koi-unit {
  margin-right: 6px;
  background: #ffffff;
  width: 24px;
  height: 24px;
}

.app-header .header-right .total-koi .koi-unit.ar {
  margin-left: 16px;
}

.app-header .header-right .koi-info .reload-icon {
  width: 34px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #237B75;
  border-radius: 0px 4px 4px 0px;
  border: 0px;
}

.app-header .header-right .setting-button {
  border-radius: 50%;
  height: 28px;
  width: 28px;
  display: flex;
  border: 0;
  margin-left: 30px;
  align-items: center;
  justify-content: center;
}
/* END HEADER */
