@keyframes slideToLeft {
  0% {
    right: 0px;
    opacity: 0;
  }

  100% {
    right: 913px;
    opacity: 1;
  }
}

@keyframes slideToLeftMiddle {
  0% {
    right: 0px;
    opacity: 1;
  }

  100% {
    right: 913px;
    opacity: 0;
  }
}


@keyframes slideToRight {
  0% {
    left: 0px;
    opacity: 0;
  }

  100% {
    left: 913px;
    opacity: 1;
  }
}

@keyframes slideToRightMiddle {
  0% {
    left: 0px;
    opacity: 1;
  }

  100% {
    left: 913px;
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


.create-collection
  .wrapper
  .select-nft {
    width : 914px;
    min-height: 307px;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
  }

  /* ANIMATION FOR NFT THUMNAILS */
.create-collection
  .wrapper
  .select-nft
  .thumbnails-animation {
    position: relative;
    display: flex;
    right: 913px;
  }

.create-collection
  .wrapper
  .select-nft
  .nft {
    display: flex;
    height: 154px;
}

.create-collection
  .wrapper
  .select-nft
  .cover-image-tag {
    animation: fadeIn 0.7s;
    position: absolute;
    bottom: 0px;
    left: 45px;
    color: #ffffff;
    font-size: 15px;
    line-height: 16px;
    font-weight: 400;
  }

.create-collection
  .wrapper
  .select-nft
  .nft
  .nft-wrapper {
    position: relative;
    object-fit: cover;
    width: 146.8px;
    height: 154px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 18px;
    box-sizing: border-box;
  }

.create-collection
  .wrapper
  .select-nft
  .nft
  .nft-wrapper.left.slide-to-left {
    animation: slideToLeft 0.7s;
  }

.create-collection
  .wrapper
  .select-nft
  .nft
  .nft-wrapper.middle.slide-to-left {
    animation: slideToLeftMiddle 0.7s;
  }

.create-collection
  .wrapper
  .select-nft
  .nft
  .nft-wrapper.right.slide-to-left {
    animation: slideToLeft 0.7s;
  }
.create-collection
  .wrapper
  .select-nft
  .nft
  .nft-wrapper.left.slide-to-right {
    animation: slideToRight 0.7s;
  }

.create-collection
  .wrapper
  .select-nft
  .nft
  .nft-wrapper.middle.slide-to-right {
    animation: slideToRightMiddle 0.7s;
  }

.create-collection
  .wrapper
  .select-nft
  .nft
  .nft-wrapper.right.slide-to-right {
    animation: slideToRight 0.7s;
  }

.create-collection
  .wrapper
  .select-nft
  .nft
  .nft-wrapper.empty {
    border: 1px dashed #ffffff;
    border-radius: 3px;
  }

.create-collection
  .wrapper
  .select-nft
  .nft
  .nft-wrapper img {
    max-width: 100%;
    max-height: 100%;
  }

.create-collection
  .wrapper
  .select-nft
  .nft
  .nft-wrapper
  .delete-icon {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 3px;
    right: 3px;
  }

.create-collection
  .wrapper
  .select-nft
  .selected-nft {
    display: flex;
    justify-content: center;
    gap: 25px;
    align-items: center;
    flex-wrap: wrap;
    overflow-y: scroll;
    height: 223px;
    width: 790px;
    margin: auto;
    margin-top: 24px;
  }

.create-collection
  .wrapper
  .select-nft
  .selected-nft
  .nft-wrapper {
    object-fit: cover;
    width: 88px;
    height: 88px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.create-collection
  .wrapper
  .select-nft
  .selected-nft
  .nft-wrapper img {
    max-width: 100%;
    max-height: 100%;
  }
/* TAGS */
.create-collection
  .wrapper
  .content
  .select-nft
  .tags {
    display: flex;
    gap: 13px;
    width: 734px;
    height: 22px;
    margin-left: 180px;
    margin-top: 24px;
    flex-wrap: wrap;
    overflow-y: overlay;
  }


/* INFO */
.create-collection
  .wrapper
  .content
  .select-nft
  .info {
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    margin-top: 18px;
  }

.create-collection
  .wrapper
  .content
  .select-nft
  .info
  .description {
    width: 680px;
    padding-right: 55px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    overflow-y: scroll;
    height: 41px;
  }

.create-collection
  .wrapper
  .content
  .select-nft
  .info
  .nft-title {
    width: 161px;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
  }

.create-collection
  .wrapper
  .content
  .select-nft
  .info
  .nft-title
  .edit-icon {
    width: 20px;
    height: 23px;
    margin-right: 10px;
  }
  
  /* HINT */
.create-collection
  .wrapper
  .content
  .select-nft
  .hint {
    color: #ffffff;
    text-align: center;
    margin-top: 37px;
    margin-bottom: 33px;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
  }

/* Page */
.create-collection
  .wrapper
  .content
  .select-nft
  .page {
    margin-top: 20px;
    display: flex;
    gap: 8px;
    justify-content: center;
  }


.create-collection
  .wrapper
  .content
  .select-nft
  .page
  .pageNum {
    width: 32px;
    height: 6px;
    background-color: #ffffff;
    border-radius: 3px;
    cursor: pointer;
  }

.create-collection
  .wrapper
  .content
  .select-nft
  .page
  .pageNum.active {
    background-color: #5ED9D1;
  }

/* PRICE */
.create-collection
  .wrapper
  .content
  .select-nft
  .price {
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 10px;
    width: 247px;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    color: #ffffff;
    height: 40px
  }

.create-collection
  .wrapper
  .content
  .select-nft
  .price
  .price-amount {
    color: #49CE8B;
    width: 90px;
  }