.friends-page-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 140px);
  padding: 58px;
}

.friends-page {
  color: #ffffff;
  width: 760px;
}

.friends-page .top-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.friends-page .top-section .title {
  font-size: 24px;
  line-height: 32px;
}

.friends-page .top-section .description {
  font-size: 16px;
  line-height: 32px;
  margin-top: 8px;
}

.friends-page .content-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 14px;
}

.friends-page .content-section .code-label {
  font-size: 18px;
  line-height: 32px;
}

.friends-page .content-section .code-text {
  align-items: center;
  border-radius: 3px;
  border: 1px solid #84d7ac;
  box-sizing: border-box;
  display: flex;
  font-size: 16px;
  font-weight: 600;
  height: 32px;
  justify-content: center;
  line-height: 24px;
  position: relative;
  width: 500px;
}

.friends-page .content-section .code-text .link-icon {
  position: absolute;
  right: 5px;
  top: 5px;
}

.friends-page .content-section .copy-button {
  cursor: pointer;
  font-size: 14px;
  line-height: 24px;
  text-decoration-line: underline;
}

.friends-page .content-section .copy-button.copied {
  color: #ffc78f;
  cursor: unset;
}

.friends-page .content-section .share {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 37px;
  width: 525px;
}

.friends-page .content-section .share .share-button,
.friends-page .content-section .share .email-button {
  background: #ffffff;
  border-radius: 3px;
  border: 1px solid #000000;
  box-sizing: border-box;
  color: #171753;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  height: 32px;
  line-height: 24px;
  width: 226px;
}

.friends-page .content-section .share .email-button {
  background-color: #ffc78f;
}

.friends-page .content-section .social-media {
  margin-top: 32px;
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.friends-page .content-section .social-media .social-icon {
  cursor: pointer;
  height: 32px;
  width: 32px;
}

.friends-page .bottom-section {
  display: flex;
  justify-content: center;
  margin-top: 58px;
}

.friends-page .bottom-section .reward-box {
  border-radius: 2px;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 92px;
  justify-content: space-between;
  padding: 13px 22px 15px 40px;
  width: 578px;
}

.friends-page .bottom-section .reward-box .reward-text {
  font-size: 18px;
  line-height: 32px;
  width: 438px;
}

.friends-page .bottom-section .reward-box .reward-text .koi-quantity {
  color: #84d7ac;
}
