.uploaded-screen {
  top: 31px;
  right: 313px;
  transform: translate(50%, -50%);
  position: fixed;
  z-index: 500;
  background-color: #49CE8B;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.uploaded-screen .uploaded-icon {
  width: 18px;
  height: 12px;
}
