.transfer-nft.wrapper .transfer-success {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-style: normal;
  letter-spacing: 0.03em;

  height: 100%;
  padding-top: 16px;
}
.transfer-nft.wrapper .transfer-success .successfully-sent {
  display: flex;
  align-items: center;
  gap: 13px;

  color: #171753;
  font-weight: 600;
  font-size: 18px;
}

.transfer-nft.wrapper .transfer-success .green-tick {
  width: 45px;
  height: 45px;
}

.transfer-nft.wrapper .transfer-success .label {
  margin-top: 16px;
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: 600;
}
.transfer-nft.wrapper .transfer-success .receiver-address {
  color: #237b75;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
}
