.lock-screen {
  position: absolute;
  background: rgba(23, 23, 83, 0.45);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lock-screen .text {
  margin-top: 18px;
}

.backup-phrase-wrapper {
  align-items: center;
  background: linear-gradient(90deg, rgba(3, 3, 50, 0.7) 0%, rgba(23, 23, 83, 1) 100%);
  justify-content: center;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.backup-phrase {
  position: relative;
  box-sizing: border-box;
  height: 568px;
  padding: 20px;
  font-size: 15px;
  color: #171753;
}

.backup-phrase .cancel-icon {
  display: flex;
  height: 10px;
  width: 10px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.backup-phrase .title {
  color: #171753;
  display: flex;
  height: 21px;
}

.backup-phrase .title .icon {
  width: 20px;
}

.backup-phrase .title .text {
  font-size: 18px;
  letter-spacing: 0.03em;
  line-height: 20px;
  margin-left: 20px;
  text-align: center;
}

.backup-phrase .description {
  margin: 24px 0 16px;
}

.backup-phrase .warning {
  display: flex;
  margin-bottom: 16px;
}

.backup-phrase .warning .warning-text {
  font-weight: 600;
  margin-left: 9px;
  width: 297px;
}

.backup-phrase .phrase-display-box {
  position: relative;
  background: #f5f5f5;
  border: 1px solid #171753;
  border-radius: 2px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
  box-sizing: border-box;
  color: #434367;
  font-size: 15px;
  font-weight: 600;
  height: 119px;
  min-height: 119px;
  letter-spacing: 0.03em;
  line-height: 24px;
  margin-bottom: 24px;
  padding: 12px;
  width: 100%;
}

.backup-phrase .phrase-display-box .copy-button {
  align-items: center;
  bottom: 9px;
  color: #237b75;
  cursor: pointer;
  display: flex;
  font-size: 15px;
  font-weight: 400;
  height: 20px;
  left: 13px;
  letter-spacing: 0.03em;
  line-height: 20px;
  position: absolute;
  text-decoration-line: underline;
}

.backup-phrase .phrase-display-box .copy-button .copy-icon {
  height: 16px;
  margin-left: 9px;
  width: 16px;
}

.backup-phrase .confirm-button {
  align-self: flex-start;
}

.backup-phrase .qa {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 23px;
}

.backup-phrase .qa .qa-icon {
  position: absolute;
  top: 7px;
  left: 0;
}

.backup-phrase .qa .qa-item {
  margin-bottom: 16px;
  font-size: 15px;
  line-height: 20px;
  width: 297px;
}

.backup-phrase .qa .qa-item:last-child {
  margin-bottom: 0px;
}
