.new-modal-wrapper {
  width: 100%;
  height: 100vh;
  z-index: 55;
  top: 0;
  left: 0;
  position: fixed;
  background-color: rgba(23, 23, 83, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.new-modal-header {
  display: flex;
  height: 67px;
  padding: 0px 15px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
  width: 100%;
  border-radius: 4px 4px 0 0;
}

.new-modal-header-icon {
  width: 28px;
  height: 28px;
  cursor: pointer;
}

.transfer-nft.wrapper {
  position: relative;
  border-radius: 4px;
  background-color: #f5f5f5;
  color: #171753;
  width: 783px;
  height: 463px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;

  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}

.transfer-nft.wrapper .title {
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.01em;
}

.transfer-nft__nft-name-wrapper {
  display: flex;
  width: full;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #373765;
}

.transfer-nft__nft-name {
  font-weight: 600;
  color: #373765;
}

.transfer-nft.container {
  width: 100%;
  padding: 0px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.transfer-nft.container .media {
  width: 201px;
  height: 201px;
}

.transfer-nft.container .right-side {
  width: 470px;
}

.transfer-nft.wrapper .button-wrapper {
  width: 100%;
  position: absolute;
  bottom: 25px;
  left: 0px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.transfer-nft.wrapper .submit-btn {
  color: white;

  padding: 5px 50px;
  min-width: 173px;
  height: 39px;
  align-self: center;

  background: #373765;
  border-radius: 4px;
  border: 0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);

  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.01em;
  text-align: center;
}

.transfer-nft.wrapper .submit-btn:disabled {
  cursor: not-allowed;
  opacity: 0.7;
}
