.navbar {
  align-items: center;
  background: #211c52;
  border-radius: 0px 4px 4px 0px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
  display: flex;
  flex-direction: column;
  height: 486px;
  justify-content: space-between;
  left: 0;
  padding: 20px 0;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  width: 60px;
  z-index: 20;
}

.navbar .nav-item {
  cursor: pointer;
  height: 32px;
  width: 60px;
}

.navbar .nav-item.active path {
  fill: #49ce8b;
}

.navbar .nav-item.active {
  border-right: 3px solid #ffffff;
  width: 60px;
}

.navbar .top {
  display: inline-flex;
  flex-direction: column;
  gap: 30px;
  height: 50%;
}

.navbar .bottom {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.navbar .bottom .nav-item {
  align-self: baseline;
}

.navbar .bottom .address {
  color: #ffffff;
  font-size: 12px;
  font-weight: 600;
  height: 23px;
  line-height: 11px;
}
