.navbar-container * {
  box-sizing: border-box;
}

.navbar-container .slide-nav {
  background-color: #55557f;
  border-radius: 0px 4px 4px 0px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
  height: 486px;
  left: -162px;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  transition: left 0.5s;
  width: 230px;
  z-index: 10;
}

.navbar-container .slide-nav.expand {
  left: 0px;
  transition: left 0.5s;
}

.navbar-container .slide-nav .items {
  color: #f5f5f5;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 600;
  justify-content: space-between;
  padding: 24px 0px 24px 78px;
  text-decoration: none;
}

.navbar-container .slide-nav .items .item {
  align-items: flex-start;
  color: #f5f5f5;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 600;
  height: 39px;
  justify-content: center;
  line-height: 24px;
  margin-bottom: 32px;
  text-decoration: none;
  width: 100%;
}

.navbar-container .slide-nav .items .item.active {
  border-right: 3px solid #49ce8b;
}

.navbar-container .slide-nav .items .item .coming-soon {
  color: #ffc78f;
  font-size: 12px;
  line-height: 16px;
}
