.send-koi-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: #171753;
  background-color: #eeeeee;
}

.send-koi-form .input-wrapper {
  width: 346px;
  height: 28px;
}

.send-koi-form .koi-balance {
  font-size: 12px;
  line-height: 20px;
  align-items: center;
  letter-spacing: 0.03em;
}

.send-koi-form .currency-select {
  margin: 15px 40px 0 40px;
}

.send-koi-form .recipient {
  margin: 37px 40px 20px 40px;
}

.send-koi-form .input-field.form-input .input {
  font-family: 'Sora', sans-serif;
  font-size: 14.5px;
}

.send-koi-form .input-field.form-input .label {
  font-size: 12px;
}

.input-field.form-input .toggle-display {
  display: none;
}

.send-koi-form .warning {
  margin: 0 40px 30px 40px;
  display: flex;
}

.send-koi-form .warning-icon {
  height: 33px;
  width: 26px;
  border-radius: 0px;
  margin: 0px 10px 8px 0;
}

.send-koi-form .warning-message {
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.03em;
  align-content: flex-start;
}

.send-koi-form .amount {
  margin: 0 40px 46px 40px;
}
.send-koi-form .amount-exchanged {
  padding-left: 10px;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: #237b75;
}

.send-koi-form .send-button {
  margin-bottom: 46px;
  width: 183px;
  height: 32px;
  font-weight: 600;

  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.01em;
  text-align: center;
}

.send-koi-form .amount-in-usd {
  padding-left: 10px;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: #237b75;
}
.send-koi-form .koi-balance .amount-in-usd {
  padding-left: 116px;
}

.send-koi-form .selected-account {
  display: flex;
  width: 346px;
}

.send-koi-form .selected-account .selected-account-left {
  width: 70%;
  display: flex;
  gap: 20px;
}
.send-koi-form .selected-account .selected-account-left .selected-account-label {
  width: 70px;
}

.send-koi-form .selected-account .selected-account-address {
  color: #237b75;
  display: flex;
}

.send-koi-form .selected-account .edit-icon {
  margin-left: 8px;
  cursor: pointer;
}

.send-koi-form .selected-account .selected-account-right {
  width: 30%;
  display: flex;
  justify-content: flex-end;
}

/* RECIPIENT */
.recipient .recipient-input {
  display: flex;
}
.recipient .recipient-input-field {
  width: 298px;
  height: 28px;
  padding-left: 10px;
  font-weight: 600;
  font-size: 14.5px;
  font-family: 'Sora', sans-serif;
  color: #171753;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  height: 28px;
  border: 1.5px solid #171753;
  box-sizing: border-box;
  box-shadow: 0px 2px 4px rgb(0 0 0 / 16%);
  border-radius: 2px 0 0 2px;
}

.recipient .recipient-input-field::placeholder {
  font-weight: normal;
  font-family: 'Sora', sans-serif;
  color: #237b75;
}

.recipient .address-dropdown .arrow-button {
  border: none;
  padding: 0;
  width: 48px;
  height: 28px;
  border: 1.5px solid #171753;
  box-sizing: border-box;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
  border-radius: 0 2px 2px 0;
  background-color: #171753;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.recipient .address-dropdown .arrow-button:disabled {
  cursor: not-allowed;
}

/* Dropdown */
.recipient .accounts {
  background: #ffffff;
  border: 1.5px solid #171753;
  box-sizing: border-box;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  padding: 4px 0px;
  position: absolute;
  margin-top: 28px;

  width: 346px;
  max-height: 169px;
  overflow-y: overlay;
  z-index: 20;
}
.recipient .accounts::-webkit-scrollbar {
  width: 3px;
}
.recipient .accounts::-webkit-scrollbar-track {
  background: #f8f8f8;
}

.recipient .accounts::-webkit-scrollbar-thumb {
  background: #888;
}

.recipient .account {
  display: flex;
  flex-direction: row;
  padding: 4px 16px 4px 10px;
  cursor: pointer;
  align-items: center;
  gap: 10px;
}

.recipient .accounts .account .logo {
  width: 26px;
  height: 26px;
}

.recipient .account .info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.recipient .account:hover,
.recipient .different-address:hover {
  background: #bef0ed;
}

.recipient .account .name {
  color: #171753;
  font-size: 12px;
  line-height: 32px;
  width: 170px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.recipient .account .address {
  font-size: 12px;
  line-height: 32px;
  color: #237b75;
}

.recipient .different-address {
  padding: 4px 16px 4px 10px;
  cursor: pointer;
}
.recipient .different-address .name {
  color: #237b75;
  font-size: 12px;
  line-height: 32px;
}
