.send-koi-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #eeeeee;
}

.send-koi-form .koi-balance {
  font-size: 14px;
  line-height: 20px;
  align-items: center;
  letter-spacing: 0.03em;
}

.send-koi-form .recipient{
  margin: 21px 40px 20px 40px;
}

.send-koi-form .input-field.form-input .input {
  font-family: 'Catamaran', sans-serif;
  font-size: 14.5px;
}
.send-koi-form .input-field.form-input .label {
  font-size: 14px;
}

.input-field.form-input .toggle-display {
  display: none;
}

.send-koi-form .warning {
  margin: 0 40px 30px 40px;
  display: flex;
}

.send-koi-form .warning-icon {
  width: 24px;
  height: 24px;
  margin: 8px 10px 8px 0;
}

.send-koi-form .warning-message {
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.03em;
  align-content: flex-start;
}

.send-koi-form .amount{
  margin: 0 40px 46px 40px;
}

.send-koi-form .send-button {
  margin-bottom: 46px;
  width: 183px;
  height: 32px;
  font-weight: 600;
}

.send-koi-form .amount-in-usd {
  padding-left: 10px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: #237b75;
}
.send-koi-form .koi-balance .amount-in-usd {
  padding-left: 116px;
}
