.collection-wrapper {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - 140px);
  padding-bottom: 60px;
}

.collection-details-wrapper {
  max-width: 920px;
  color: #ffffff;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  margin: 112px auto 0 auto;
}

.collection-details-wrapper .go-back-button {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 0px;
  cursor: pointer;
}

.collection-header-buttons {
  max-width: 920px;
  width: 100%;
  margin: auto;
  display: flex;
  padding-left: 64px;
  padding-right: 224px;
  box-sizing: border-box;
  justify-content: space-between;
  margin-top: 13px;
  height: 34px;
  z-index: 101;
}

.collection-header-buttons .edit-collection-buttons {
  display: flex;
}

.collection-header-buttons .edit-collection-buttons .edit-collection-button {
  display: flex;
  width: auto;
  margin-right: 27px;
  border-radius: 2px;
  font-weight: 600;
  font-size: 16px;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
}

.collection-header-buttons .edit-collection-buttons .edit-collection-button.save-changes-button {
  background: #5ed9d1;
  width: 137px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.collection-header-buttons .edit-collection-buttons .edit-collection-button.cancel-button {
  width: 107px;
  color: white;

  border: 1px solid #ffffff;
  box-sizing: border-box;
  filter: drop-shadow(0px 2px 12px rgba(0, 0, 0, 0.16));
  cursor: pointer;
}

.collection-header-buttons .share-collection-button {
  width: 79px;
  height: 34px;
  background: #ffc78f;
  border-radius: 2px;
  font-weight: 600;
  font-size: 16px;
  position: absolute;
  right: 340px;

  text-align: center;
  letter-spacing: -0.01em;
  color: #171753;
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.collection-details-wrapper .collection-details {
  width: 100%;
  padding-left: 115px;
}

.collection-details-wrapper .collection-detail-header {
  display: flex;
  justify-content: space-between;
}

.collection-details-wrapper .collection-detail-header .title {
  font-size: 32px;
  line-height: 32px;
  display: flex;
}

.collection-details-wrapper .collection-detail-header .title .collection-icon {
  margin-left: 29px;
  width: 27px;
  height: 27px;
  margin-bottom: 2px;
  cursor: pointer;
}

.collection-details-wrapper .collection-detail-header .title .collection-icon.edit-icon {
  filter: brightness(0) saturate(100%) invert(90%) sepia(70%) saturate(4951%) hue-rotate(301deg)
    brightness(108%) contrast(101%);
}

.collection-details-wrapper .collection-detail-header .toggle-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.collection-details-wrapper .collection-detail-header .toggle-wrapper {
  cursor: pointer;
}

.collection-details-wrapper .description {
  margin: 18px 0 9px;
  font-size: 14px;
  line-height: 32px;
  max-width: 772px;

  max-height: 96px;
  overflow-y: scroll;
  padding-right: 10px;
}

.collection-details-wrapper .collection-view-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 115px;
  padding-right: 4px;
}

.collection-details-wrapper .collection-view-icons {
  justify-content: flex-end;
  display: flex;
  gap: 12px;
}

.collection-details-wrapper .collection-view-message {
  display: flex;
  color: #ffc78f;
  justify-content: flex-end;
}

.collection-details-wrapper .cards {
  display: inline-flex;
  flex-wrap: wrap;
  column-gap: 136px;
  row-gap: 20px;

  /* display: flex;
  justify-content: flex-start;
  gap: 136px;
  flex-direction: row;
  flex-wrap: wrap; */
}

.collection-details__views-count {
  margin-top: 16px;
  display: flex;

  justify-content: flex-start;
  gap: 32px;
  align-items: center;
}

.collection-details-wrapper .earned-koi {
  display: flex;
  align-items: baseline;
}

.collection-details__views-count__text {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;

  margin-left: 5px;
}

.collection-details__views-count__number {
  font-size: 25px;
}

.collection-details-wrapper .views {
  display: flex;
  align-items: baseline;
  font-weight: 600;
}

.collection-details .tags {
  display: flex;
  flex-direction: row;
  margin-top: 12px;
  max-width: 100%;
  flex-wrap: wrap;
  max-height: 200px;
  overflow-y: scroll;
  margin-bottom: 9px;
}

.collection-details .tags .tag-item {
  background: #bef0ed;
  border-radius: 24px;
  color: #171753;
  height: 20px;
  margin-right: 14px;
  padding: 2px 14px;
  margin-top: 8px;
}
