.collection-details-wrapper {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  min-height: calc(100vh - 140px);
  padding-bottom: 60px;
}

.collection-details {
  width: 920px;
  color: #ffffff;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.collection-details .go-back-button {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 8px;
  left: 36px;
  cursor: pointer;
}

.collection-details .title {
  font-size: 32px;
  line-height: 40px;
}

.collection-details .views {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-top: 12px;
  text-transform: uppercase;
}

.collection-details .earned-koi {
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
}

.collection-details .description {
  margin: 53px 0;
  font-size: 18px;
  line-height: 32px;
  max-width: 772px;
  height: 150px;
  overflow-y: overlay;
}

.collection-details .cards {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  flex-direction: row;
  flex-wrap: wrap;
}
